Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"

Switch ProgressiveButton tests away from enzyme
  app/javascript/legacy_react/src/components/common/ProgressableButton.spec.tsx
  app/javascript/legacy_react/src/components/common/__snapshots__/ProgressableButton.spec.tsx.snap
Labels: javascript, spec

Start to update Modal.spec
  app/javascript/legacy_react/src/components/common/Modal.spec.tsx
  app/javascript/legacy_react/src/components/common/__snapshots__/Modal.spec.tsx.snap
Labels: javascript, spec

Use RTL for LabeledFieldComponent
  app/javascript/legacy_react/src/components/common/LabeledFieldComponent.spec.tsx
  app/javascript/legacy_react/src/components/common/__snapshots__/LabeledFieldComponent.spec.tsx.snap
Labels: javascript, spec

Correct snapshot
  app/javascript/legacy_react/src/components/common/ProgressableButton.spec.tsx
  app/javascript/legacy_react/src/components/common/__snapshots__/ProgressableButton.spec.tsx.snap
Labels: javascript, spec

Update StandardFieldComponent to RTL
  app/javascript/legacy_react/src/components/common/StandardFieldComponent.spec.tsx
  app/javascript/legacy_react/src/components/common/__snapshots__/StandardFieldComponent.spec.tsx.snap
Labels: javascript, spec

Update to RTL for ScreenReaderOnlyTest
  app/javascript/legacy_react/src/components/common/ScreenReaderOnlyText.spec.tsx
  app/javascript/legacy_react/src/components/common/__snapshots__/ScreenReaderOnlyText.spec.tsx.snap
Labels: javascript, spec

Run eslint
  app/javascript/legacy_react/src/components/common/ScreenReaderOnlyText.spec.tsx
Labels: javascript, spec

Remove Intl polyfill
  app/javascript/common/intl-polyfills/allLocales.ts
  app/javascript/common/intl-polyfills/custom/getCanonicalLocales.ts
  app/javascript/common/intl-polyfills/custom/numberFormat.ts
  app/javascript/common/intl-polyfills/custom/pluralRules.ts
  app/javascript/common/intl-polyfills/custom/types.ts
  app/javascript/common/intl-polyfills/getCanonicalLocales.ts
  app/javascript/common/intl-polyfills/index.ts
  app/javascript/common/intl-polyfills/numberFormat.ts
  app/javascript/common/intl-polyfills/pluralRules.ts
  app/javascript/components/form_fields/MoneyTextField.tsx
Labels: javascript

Remove unused QueryCampaigns.featured
  app/legacy_lib/query_campaigns.rb
Labels: ruby

remove unused class-object and the unused things it was imported in
  client/js/common/class-object.js
  client/js/components/number-input.js
  client/js/components/text-input.js
  client/js/components/textarea.js
Labels: javascript

Add some basic typing to chart-options
  client/js/components/chart-options.js
Labels: javascript

Some cleanup and typing in timeline.js
  client/js/campaigns/timeline.js
Labels: javascript

Add types to is-sold-out
  client/js/campaigns/show/is-sold-out.js
Labels: javascript

Minor cleanup in tickets/wizard.js
  client/js/tickets/wizard.js
Labels: javascript

remove ramda from campaigns
  client/js/campaigns/show/choose-gift-options-modal.js
  client/js/campaigns/show/gift-option-list.js
  client/js/campaigns/show/metrics-and-contribute-box.js
  client/js/campaigns/show/page.js
  client/js/campaigns/timeline.js
  client/js/campaigns/totals.js
Labels: javascript

remove ramda from spec
  spec/js/nonprofits/donate/amount-step-spec.js
  spec/js/nonprofits/donate/wizard-spec.js
Labels: javascript, spec

remove ramda from tickets
  client/js/tickets/index/delete-ticket.js
  client/js/tickets/wizard.js
Labels: javascript

remove ramda from events (incomplete)
  client/js/events/discounts/index.js
  client/js/events/discounts/manage.js
  client/js/events/listings/index.js
  client/js/events/show/page.js
Labels: javascript

remove ramda from settings (incomplete)
  client/js/settings/index/branding/index.js
  client/js/settings/index/branding/view.js
  client/js/settings/index/email-settings/index.js
  client/js/settings/index/integrations/index.js
  client/js/settings/index/page.js
Labels: javascript

remove ramda imports from super-admin
  client/js/super-admin/nonprofits-table.js
  client/js/super-admin/page.js
  client/js/super-admin/profiles-table.js
Labels: javascript

remove remaining ramda from settings
  client/js/settings/index/branding/view.js
  client/js/settings/index/email-settings/index.js
Labels: javascript

remove remaining ramda from events
  client/js/events/stats/page.js
Labels: javascript

Fix bug where dedication is blank and it breaks donation receipts
  app/views/donation_mailer/_donation_payment_table.html.erb
  spec/mailers/donation_mailer_spec.rb
Labels: ruby, spec, view

Update bin/setup to Rails 5
  bin/setup
Labels: none

Update wrap_parameters for Rails 5
  config/initializers/wrap_parameters.rb
Labels: ruby, config

Update production for Rails 5
  config/environments/production.rb
Labels: ruby, config

Update test for Rails 5
  config/environments/test.rb
Labels: ruby, config

Readd needed securerandom
  bin/setup
Labels: none

Update to bundler 2.4.22
  Gemfile.lock
Labels: dependencies

Add manifest for sprockets
  app/assets/config/manifest.js
Labels: javascript

PG monkeypatch no longer needed as this support is in Rails 5
  config/initializers/0_postgresql_adapter_monkeypatch.rb
Labels: ruby, config

ActionController::Renderer Monkeypatch no longer needed as it's in Rails 5
  config/initializers/5_action_controller_renderer.rb
Labels: ruby, config

String Output Safety monkeypatch was needed until Rails 6.1
  config/initializers/15_string_output_safety.rb
Labels: ruby, config

Update the version for tag_helper
  config/initializers/16_tag_helper.rb
Labels: ruby, config

Clarify when the inflector method monkeypatches can stop being used.
  config/initializers/18_active_support_inflector_methods.rb
Labels: ruby, config

Update CVE-2022-44566 fix version limit
  config/initializers/19_active_record_postgresql_quoting.rb
Labels: ruby, config

Update the version limit on CVE-2023-22792
  config/initializers/20_action_dispatch_middleware_cookies.rb
Labels: ruby, config

Add needed listen gem
  Gemfile
  Gemfile.lock
Labels: dependencies

Add instructions for updating the test db from prod
  README.md
Labels: none

Switch to Mail 2.7.1 gem
  Gemfile
  Gemfile.lock
Labels: dependencies
