Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"

Update assets initializer for Rails 5.1
  config/initializers/assets.rb
Labels: ruby, config

Update puma config to Rails 5.1 style
  config/puma.rb
Labels: ruby, config

Update cookies serializer for Rails 5.1
  config/initializers/cookies_serializer.rb
Labels: ruby, config

Update development environment for Rails 5.1
  config/environments/development.rb
Labels: ruby, config

Update test for Rails 5.1
  config/environments/test.rb
Labels: ruby, config

Update production for Rails 5.1
  config/environments/production.rb
Labels: ruby, config

Remove node_modules from assets path since we don't use it
  config/initializers/assets.rb
Labels: ruby, config

Correct order to nonprofit users and roles associations
  app/models/nonprofit.rb
Labels: ruby, model

Reorder transaction and supporters in Nonprofit
  app/models/nonprofit.rb
Labels: ruby, model

Update bin/bundler so it quites complaining?
  bin/bundle
Labels: none

Correct order of ticketholders, charges and tickets in Event
  app/models/event.rb
Labels: ruby, model

Fix call to find with an active Record object instead of an id.
  spec/lib/job_types/nonprofit_first_donation_payment_job_spec.rb
Labels: ruby, spec

Remove no longer needed module patch
  config/initializers/2_module_patch.rb
Labels: ruby, config

WIP
  app/legacy_lib/import_civicrm_payments.rb
  app/legacy_lib/import_onecause_event_donations.rb
  app/legacy_lib/insert_card.rb
  app/legacy_lib/insert_donation.rb
  app/legacy_lib/insert_recurring_donation.rb
  app/legacy_lib/insert_tickets.rb
  app/legacy_lib/update_recurring_donations.rb
  app/models/e_tap_import_journal_entry.rb
  spec/api/houdini/nonprofit_spec.rb
  spec/backport/action_model_attribute_assignment_spec.rb
  spec/lib/create_campaign_gift_spec.rb
  spec/lib/export/export_payments_spec.rb
  spec/lib/export/export_recurring_donations_spec.rb
  spec/lib/export/export_supporter_notes_spec.rb
  spec/lib/export/export_supporters_spec.rb
  spec/lib/insert/insert_bank_account_spec.rb
  spec/lib/insert/insert_card_spec.rb
  spec/lib/insert/insert_charge_spec.rb
  spec/lib/insert/insert_custom_field_joins_spec.rb
  spec/lib/insert/insert_donation_spec.rb
  spec/lib/insert/insert_duplicate_spec.rb
  spec/lib/insert/insert_email_lists_spec.rb
  spec/lib/insert/insert_payout_spec.rb
  spec/lib/insert/insert_recurring_donation_spec.rb
  spec/lib/insert/insert_refunds_spec.rb
  spec/lib/insert/insert_source_token_spec.rb
  spec/lib/insert/insert_tag_joins_spec.rb
  spec/lib/insert/insert_tickets_spec.rb
  spec/lib/merge_supporters_spec.rb
  spec/lib/query/query_payments_spec.rb
  spec/lib/query/query_source_token_spec.rb
  spec/lib/update/update_donation_spec.rb
  spec/lib/update/update_recurring_donations_spec.rb
  spec/lib/update/update_tickets_spec.rb
  spec/requests/nonprofits/donations_controller_request_spec.rb
  spec/support/contexts/shared_rd_donation_value_context.rb
Labels: ruby, spec, model

Mention when belongs_to_required_by_default was added to the application.rb
  config/application.rb
Labels: ruby, config

Add raise_on_unfiltered_parameter config setting to application.rb
  config/application.rb
Labels: ruby, config

Use saved_change_to_attribute? in must_update_email_list? to address deprecation
  app/models/supporter.rb
Labels: ruby, model

Correct bad usage of to_unsafe_h
  spec/lib/update/update_tickets_spec.rb
Labels: ruby, spec

Fix a few specs
  spec/api/houdini/nonprofit_spec.rb
  spec/backport/action_model_attribute_assignment_spec.rb
  spec/requests/nonprofits/donations_controller_request_spec.rb
Labels: ruby, spec

Cleanup a few importers
  app/legacy_lib/import_civicrm_payments.rb
  app/legacy_lib/import_onecause_event_donations.rb
Labels: ruby

Remove no-longer needed new framework default from Rails 5.0
  config/initializers/new_framework_defaults.rb
Labels: ruby, config

WIP
  app/legacy_lib/insert_tickets.rb
Labels: ruby

Add the x86_64-linux platform
  Gemfile.lock
Labels: dependencies

Update Rack to 2.2.11
  Gemfile.lock
Labels: dependencies

Fix bug in cards_spec
  spec/controllers/cards_spec.rb
Labels: ruby, spec

Fix for bug in UpdateRecurringDonations
  app/legacy_lib/update_recurring_donations.rb
Labels: ruby

Fix registrations_spec test
  spec/controllers/users/registrations_spec.rb
Labels: ruby, spec

Remove most of Timespan
  app/legacy_lib/timespan.rb
  spec/lib/timespan_spec.rb
Labels: ruby, spec

Switch to to_deprecated_h
  app/legacy_lib/insert_card.rb
  app/legacy_lib/insert_donation.rb
  app/legacy_lib/insert_recurring_donation.rb
  app/legacy_lib/insert_tickets.rb
  app/legacy_lib/to_deprecated_h.rb
  app/models/direct_debit_detail.rb
  app/models/e_tap_import_journal_entry.rb
  config/initializers/16_tag_helper.rb
  config/initializers/to_deprecated_h.rb
  spec/lib/create_campaign_gift_spec.rb
  spec/lib/export/export_payments_spec.rb
  spec/lib/export/export_recurring_donations_spec.rb
  spec/lib/export/export_supporter_notes_spec.rb
  spec/lib/export/export_supporters_spec.rb
  spec/lib/insert/insert_bank_account_spec.rb
  spec/lib/insert/insert_card_spec.rb
  spec/lib/insert/insert_charge_spec.rb
  spec/lib/insert/insert_custom_field_joins_spec.rb
  spec/lib/insert/insert_donation_spec.rb
  spec/lib/insert/insert_duplicate_spec.rb
  spec/lib/insert/insert_email_lists_spec.rb
  spec/lib/insert/insert_payout_spec.rb
  spec/lib/insert/insert_recurring_donation_spec.rb
  spec/lib/insert/insert_refunds_spec.rb
  spec/lib/insert/insert_source_token_spec.rb
  spec/lib/insert/insert_tag_joins_spec.rb
  spec/lib/insert/insert_tickets_spec.rb
  spec/lib/merge_supporters_spec.rb
  spec/lib/query/query_payments_spec.rb
  spec/lib/query/query_source_token_spec.rb
  spec/lib/update/update_donation_spec.rb
  spec/lib/update/update_recurring_donations_spec.rb
  spec/support/contexts/shared_rd_donation_value_context.rb
Labels: ruby, spec, model, config

Add the assertions used by some CVE tests
  spec/rails_helper.rb
Labels: ruby, spec

Update cve test for Rails 5.1
  spec/cve/cve_2023_22792_spec.rb
Labels: ruby, spec

Update tag_helper export for Rails 5.1
  config/initializers/16_tag_helper.rb
  spec/cve/cve_2022_27777/tag_helper_spec.rb
Labels: ruby, spec, config

Add spec that shows the bug due to ActionController::Parameters not inheriting for Hash anymore
  spec/lib/insert/insert_donation_spec.rb
Labels: ruby, spec

Update param_validation to use actionpack
  Gemfile.lock
  gems/ruby-param-validation/param_validation.gemspec
Labels: dependencies

Allow is_hash to accept ActionController::Parameters
  gems/ruby-param-validation/lib/param_validation.rb
Labels: ruby, dependencies

Replicate deprecated behavior for changed_attributes using recommendation
  app/models/stripe_dispute.rb
Labels: ruby, model

Add to_deprecated_h to numerous buggy calls
  app/controllers/users/registrations_controller.rb
  app/legacy_lib/create_peer_to_peer_campaign.rb
  app/legacy_lib/insert_card.rb
  app/legacy_lib/insert_supporter.rb
Labels: ruby, controller

Migrate Rails 5.1 defaults we're keeping into application.rb
  config/application.rb
  config/initializers/new_framework_defaults_5_1.rb
Labels: ruby, config

Update Rails gem to 5.2
  Gemfile
  Gemfile.lock
Labels: dependencies

Update bin/yarn for Rails 5.2
  bin/yarn
Labels: none
