Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"

Update to Ruby 3.0
  .github/workflows/code-scanning.yml
  .github/workflows/pr.yml
  .github/workflows/single-matrix-pr.yml
  .ruby-version
  README.md
  docs/getting_started_wsl2.md
Labels: none

Update some of the test methods in `shared_user_context` to Ruby 3.0
  spec/controllers/support/shared_user_context.rb
Labels: ruby, spec

Run on latest Ubuntu
  .github/workflows/pr.yml
Labels: none

Update to Rails 6.1.7.8
  Gemfile
  Gemfile.lock
Labels: dependencies

Update rake to be compatible with Ruby 3
  Gemfile
  Gemfile.lock
Labels: dependencies

Fix dependabot issues
  .github/dependabot.yml
Labels: none

No really correct it
  .github/dependabot.yml
Labels: none

Adjust from keyword arguments to options hash expectation in insert_charge_spec
  spec/legacy_lib/insert/insert_charge_spec.rb
Labels: ruby, spec

Adjust from keyword arguments to options hash expectation in insert_tickets_spec
  spec/legacy_lib/insert/insert_tickets_spec.rb
Labels: ruby, spec

Run the all of the os-ruby-node combo tests completely even if one of the combos fail
  .github/workflows/pr.yml
Labels: none

Ignore newer eslint-plugin-storybook
  .github/dependabot.yml
Labels: none

Get rid of unneeded babel transforms
  babel.config.js
Labels: javascript

Update bundler to 2.2.33
  Gemfile.lock
Labels: dependencies

Ignore react-hook-form > 7.52.1
  .github/dependabot.yml
Labels: none

Only test on ubuntu-latest
  .github/workflows/pr.yml
Labels: none

Test on Ruby 3.1
  .github/workflows/pr.yml
Labels: none

Revert "Get rid of unneeded babel transforms"
  babel.config.js
Labels: javascript

Update to bundler 2.5.18
  Gemfile.lock
Labels: dependencies

Update browserlistdb
  yarn.lock
Labels: dependencies

Add CSV gem
  Gemfile
  Gemfile.lock
Labels: dependencies

Correct weird issue with rspec
  spec/models/concerns/model/eventable_spec.rb
Labels: ruby, spec

Rollback to an older versino of @types/enzyme
  package.json
  yarn.lock
Labels: dependencies

Correct a new typescript version issue
  app/javascript/components/intl/HoudiniIntl.tsx
Labels: javascript

Run yarn-deduplicate
  yarn.lock
Labels: dependencies

Remove typescript member ordering
  .eslintrc.js
Labels: javascript

Ignore storybook static
  .gitignore
Labels: none

Move eslint into own dependabot group
  .github/dependabot.yml
Labels: none

Use asdf to simplify things
  .tool-versions
Labels: none

Update puma to fix GHSA-9hf4-67fc-4vf4
  Gemfile.lock
Labels: dependencies

Remove tests for postgres 13
  .github/workflows/build.yml
Labels: none

Delayed Job run time is now 5 minutes
  config/initializers/delayed_job_config.rb
Labels: ruby, config

This should optimize a bit
  app/legacy_lib/query_supporters.rb
Labels: ruby

Add CTE support to Qx
  gems/ruby-qx/lib/qx.rb
Labels: ruby, dependencies

Make sure symbols are converted to string in CTE names
  gems/ruby-qx/lib/qx.rb
Labels: ruby, dependencies

Add splitting space before the rest of the query
  gems/ruby-qx/lib/qx.rb
Labels: ruby, dependencies

Add nonprofit cte
  app/legacy_lib/query_supporters.rb
Labels: ruby

Add splitting space before the rest of the query
  gems/ruby-qx/lib/qx.rb
Labels: ruby, dependencies

Add tag_masters cte
  app/legacy_lib/query_supporters.rb
Labels: ruby

Add supporters CTE to QuerySupporters
  app/legacy_lib/query_supporters.rb
Labels: ruby

Add a NonprofitQueryGenerator
  app/legacy_lib/nonprofit_query_generator.rb
  app/legacy_lib/query_supporters.rb
Labels: ruby
