Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"

Fix test bug in Nonprofits::CustomFieldJoinsController
  spec/controllers/nonprofits/custom_fields_joins_spec.rb
Labels: ruby, spec

Fix test bug in Nonprofits::CustomFieldMastersController
  spec/controllers/nonprofits/custom_field_masters_spec.rb
Labels: ruby, spec

Fix for bug in Nonprofits::SupportersController throttling request test
  spec/requests/nonprofits/supporters_spec.rb
Labels: ruby, spec

Fix bug in CardsController throttling test
  spec/requests/cards_spec.rb
Labels: ruby, spec

Fix CVE 2023-22792 spec
  spec/cve/cve_2023_22792_spec.rb
Labels: ruby, spec

Update the ActiveRecord Quoting fix for Rails 5
  config/initializers/19_active_record_postgresql_quoting.rb
Labels: ruby, config

remove ramda from nonprofits (incomplete)
  client/js/nonprofits/dashboard/page.js
  client/js/nonprofits/donate/amount-step.js
  client/js/nonprofits/donate/components/info-step/customFields/legacy.ts
  client/js/nonprofits/donate/get-params.js
  client/js/nonprofits/donate/info-step.js
  client/js/nonprofits/donate/payment-step.js
  client/js/nonprofits/payments_chart.js
  client/js/nonprofits/recurring_donations/index/index.es6
  client/js/nonprofits/reports/modal.js
  client/js/nonprofits/supporter_form/index.es6
  client/js/nonprofits/supporters/import/index.es6
  client/js/nonprofits/supporters/index/merge_supporters.js
  client/js/nonprofits/supporters/index/sidepanel/generate-content.js
  client/js/nonprofits/supporters/index/sidepanel/index.js
  client/js/nonprofits/supporters/index/sidepanel/offsite-donation-form.js
  client/js/nonprofits/supporters/index/sidepanel/supporter-actions.js
  client/js/nonprofits/supporters/index/sidepanel/supporter-activities.js
Labels: javascript

remove ramda from common (incomplete)
  client/js/common/ajax/check_campaign_or_event_name.js
  client/js/common/direct-to-s3-upload.es6
  client/js/common/fundraiser_metrics.js
  client/js/common/on-change-sanitize-slug.js
  client/js/common/request.js
  client/js/common/search-data.js
Labels: javascript

removing edit page js reference from show.html
  app/views/nonprofits/show.html.erb
Labels: view

review fixes, remove identical legacy code
  client/js/nonprofits/donate/components/info-step/customFields/index.spec.ts
  client/js/nonprofits/donate/components/info-step/customFields/index.ts
  client/js/nonprofits/donate/components/info-step/customFields/legacy.ts
  client/js/nonprofits/supporters/index/sidepanel/generate-content.js
Labels: javascript, spec

remove snapshot
  client/js/nonprofits/donate/components/info-step/customFields/__snapshots__/index.spec.ts.snap
Labels: javascript, spec

remove ramda from recurring_donations (incomplete)
  client/js/recurring_donations/edit/amount-step.es6
  client/js/recurring_donations/edit/card-form.es6
  client/js/recurring_donations/edit/change-amount-wizard.es6
  client/js/recurring_donations/edit/index.es6
  client/js/recurring_donations/edit/payment-step.es6
Labels: none

review fix
  client/js/recurring_donations/edit/payment-step.es6
Labels: none

remove ramda from components (incomplete)
  client/js/components/address-autocomplete-fields.js
  client/js/components/card-form.es6
  client/js/components/confirmation-modal.js
  client/js/components/drag-to-reorder.js
  client/js/components/duplicate_fundraiser.js
  client/js/components/progress-bar.js
  client/js/components/public-activities.js
  client/js/components/radios.js
  client/js/components/search-table.js
  client/js/components/select.js
  client/js/components/sepa-form.es6
  client/js/components/state-selector.js
  client/js/components/supporter-address-form.es6
  client/js/components/supporter-fields.js
Labels: javascript

review fix
  client/js/components/supporter-address-form.es6
Labels: none

remove unused files
  app/views/components/_radio.html.erb
  app/views/components/_radio_set.html.erb
  client/js/components/radios.js
  client/js/components/select.js
  client/js/components/state-selector.js
Labels: javascript, view

revert sepa-form ramda removal
  client/js/components/sepa-form.es6
Labels: none

Removed unused ramda imports
  client/js/nonprofits/show/page.js
  client/js/nonprofits/supporters/index/sidepanel/supporter-note-form.js
Labels: javascript

remove extra argument
  client/js/components/supporter-fields.js
Labels: javascript

Adjust to allowing 'ActiveRecord::Base.connection.execute()' convert true to true instead of 't' in Rails 5
  config/initializers/lock_manager.rb
Labels: ruby, config

replacing edit.page.js link
  app/views/nonprofits/show.html.erb
Labels: view

Switch from heroku_rails_deflate to heroku-deflater
  Gemfile
  Gemfile.lock
Labels: dependencies

Add the version tag to the deploy run name
  .github/workflows/deploy.yml
Labels: none

only hide focus outline when not focus-visible
  app/assets/stylesheets/components/buttons.scss
  app/assets/stylesheets/components/inputs.scss
  app/assets/stylesheets/resets.scss
Labels: none

Remove warning from new_controller_user_context
  spec/controllers/nonprofits/donations_spec.rb
  spec/controllers/support/new_controller_user_context.rb
Labels: ruby, spec

Fix params in test users sessions_controller spec
  spec/controllers/users/sessions_controller_spec.rb
Labels: ruby, spec

Switch from deprecated :nothing response
  app/controllers/static_controller.rb
Labels: ruby, controller

Fix some usage of positional params in request test
  spec/requests/nonprofits/donations_controller_request_spec.rb
Labels: ruby, spec

Fix test in supporters_spec with positional params
  spec/requests/nonprofits/supporters_spec.rb
Labels: ruby, spec

Remove the reference to the removed javascript file
  app/views/nonprofits/cards/edit.html.erb
Labels: view

Fix "passing an instance of ActiveRecord::Base to `find`. Please pass the id of the object by calling `.id`" issue in app/legacy_lib/job_types/campaign_updated_job.rb
  app/legacy_lib/job_types/campaign_updated_job.rb
Labels: ruby

Remove an unwanted console.log
  client/js/campaigns/supporters/index/supporter-table.es6
Labels: none

Fix passing ActiveRecord object to find
  spec/lib/job_types/nonprofit_first_donation_payment_job_spec.rb
Labels: ruby, spec

Add source to `Campaign#payments`
  app/models/campaign.rb
Labels: ruby, model

Correct deprecated use positional params in request and controller specs
  spec/requests/api_new/object_events_controller_request_spec.rb
  spec/requests/cards_spec.rb
Labels: ruby, spec

Remove deprecated `render :text`
  app/controllers/api_new/users_controller.rb
Labels: ruby, controller

fix positional params in request specs
  spec/requests/api_new/users_controller_request_spec.rb
  spec/requests/maintenance_spec.rb
  spec/requests/nonprofits/direct_debit_details_spec.rb
  spec/requests/nonprofits/donations_controller_request_spec.rb
Labels: ruby, spec

initial commit to remove nonprofit edit view
  app/views/billing_subscription_mailer/failed_notice.html.erb
  app/views/nonprofits/cards/edit.html.erb
  app/views/settings/_pricing.html.erb
Labels: view

Add Nonprofit#disputes
  app/models/nonprofit.rb
  spec/models/nonprofit_spec.rb
Labels: ruby, spec, model

initial commit to remove nonprofit edit view
  app/views/nonprofits/cards/edit.html.erb
  app/views/settings/_pricing.html.erb
Labels: view
