Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

Flatten multi-level style of module composition
  app/controllers/campaigns/campaign_gift_options_controller.rb
  app/legacy_lib/format/address.rb
  app/legacy_lib/format/currency.rb
  app/legacy_lib/format/date.rb
  app/legacy_lib/format/geography.rb
  app/legacy_lib/format/phone.rb
  app/legacy_lib/format/url.rb
Labels: ruby, controller

Ignore the previous commit since it's just a restyling fix
  .git-blame-ignore-revs
Labels: none

Use standard rubocop config
  .rubocop.yml
  .rubocop/rspec.yml
  .rubocop/strict.yml
  .rubocop_rspec.yml
  Gemfile
  Gemfile.lock
  bin/rubocop
  gemfiles/rubocop.gemfile
  gemfiles/rubocop.gemfile.lock
Labels: dependencies

Update the code-scanning
  .github/workflows/code-scanning.yml
Labels: none

Add the previous `bin/rubocop -a` changes to be git blame ignored
  .git-blame-ignore-revs
Labels: none

Switch to using ubuntu-latest
  .github/workflows/code-scanning.yml
  .github/workflows/single-matrix-pr.yml
Labels: none

Try again
  .github/workflows/code-scanning.yml
  Gemfile
  Gemfile.lock
Labels: dependencies

Lock concurrent-ruby to 1.3.4
  Gemfile
  Gemfile.lock
Labels: dependencies

Correct this a regression
  .github/workflows/code-scanning.yml
Labels: none

Ignore the rubocop.gemfile
  bin/rubocop
Labels: none

Ignore the rubocop.gemfile
  bin/rubocop
Labels: none

Fix concurrent-ruby in Bess
  gems/bess/bess.gemspec
Labels: dependencies

Remove unused actionpack-action_caching gem
  Gemfile
  Gemfile.lock
Labels: dependencies

Add ostruct so it continues to work?
  gems/bess/lib/houdini/payment_provider/registry.rb
Labels: ruby, dependencies

Move administered nonprofit to model from controller.
  app/controllers/application_controller.rb
  app/models/user.rb
  spec/models/user_spec.rb
Labels: ruby, spec, model, controller

Switch postgresql action in deploy to the one in build.yml
  .github/workflows/deploy.yml
Labels: none

Fix the title of the step name in deploy
  .github/workflows/deploy.yml
Labels: none

Adds standard ruby gem
  Gemfile
  Gemfile.lock
Labels: dependencies

Remove postgres action entirely
  .github/workflows/deploy.yml
Labels: none

Remove bin/setup
  .github/workflows/deploy.yml
Labels: none

Revert "Remove postgres action entirely"
  .github/workflows/deploy.yml
Labels: none

Revert "Remove bin/setup"
  .github/workflows/deploy.yml
Labels: none

Remove the weird testing mailer
  app/mailers/testing.rb
Labels: ruby, mailer

Ignore minor and major Rails updates
  .github/dependabot.yml
Labels: none

Ignore broken concurrent-ruby versions
  .github/dependabot.yml
Labels: none

Skip updating to Sprockets 4.0
  .github/dependabot.yml
Labels: none

Fix merge conflict
  app/controllers/application_controller.rb
Labels: ruby, controller

More cleanup
  app/controllers/application_controller.rb
  app/models/user.rb
Labels: ruby, model, controller

Git blame ignore the last two formatting commits
  .git-blame-ignore-revs
Labels: none

Readd missing platform to Gemfile.lock
  Gemfile.lock
Labels: dependencies

Add x86_64-darwin platform
  Gemfile.lock
Labels: dependencies

Add arm64-darwin platform to bundle
  Gemfile.lock
Labels: dependencies

Remove unused date method
  app/legacy_lib/format/date.rb
Labels: ruby

Update rack-timeout gem to 0.7.0
  Gemfile.lock
Labels: dependencies

Update setting the Rack timeout deadline for 0.7.0
  config/initializers/timeout.rb
Labels: ruby, config

WIP
  client/js/nonprofits/donate/wizard.js
  client/js/nonprofits/donate/wizard/utils.spec.ts
  client/js/nonprofits/donate/wizard/utils.ts
  client/js/nonprofits/donate/wizard/windowHandler.ts
Labels: javascript, spec

WIP
  client/js/nonprofits/donate/wizard/WindowWrapper.ts
  client/js/nonprofits/donate/wizard/utils.ts
  client/js/nonprofits/donate/wizard/windowHandler.ts
Labels: javascript

WIP
  client/js/nonprofits/donate/wizard/WindowWrapper.ts
  client/js/nonprofits/donate/wizard/__mocks__/WindowWrapper.ts
  client/js/nonprofits/donate/wizard/utils.spec.ts
  client/js/nonprofits/donate/wizard/utils.ts
Labels: javascript, spec

Add standardrb binstub
  bin/standardrb
Labels: none

Add .standard.yml
  .standard.yml
Labels: none

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"
