Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"

Fix deprecated return in transaction in DeleteCampaignGiftOption
  app/legacy_lib/delete_campaign_gift_option.rb
Labels: ruby

Fix deprecated return in transaction in InsertCustomFieldJoins
  app/legacy_lib/insert_custom_field_joins.rb
Labels: ruby

Fix deprecated return in transaction in InsertDuplicate
  app/legacy_lib/insert_duplicate.rb
Labels: ruby

Fix deprecated return in transaction in MaintainPaymentsWhereSupporterIsGone
  app/legacy_lib/maintain_payments_where_supporter_is_gone.rb
Labels: ruby

Fix deprecated return in transaction in UpdateDonation
  app/legacy_lib/update_donation.rb
Labels: ruby

Update Stripe gem to 5 in the Gemfile
  Gemfile
  Gemfile.lock
Labels: dependencies

Update stripe ruby mock
  Gemfile
  Gemfile.lock
Labels: dependencies

Add continue on error to some steps so we know if other things are failing
  .github/workflows/build.yml
Labels: none

Add continue-on-error
  .github/workflows/build.yml
Labels: none

Add deprecation exception for return, throw or break in a transaction block
  config/initializers/deprecations.rb
Labels: ruby, config

Run js builds when Gemfiles change
  .github/workflows/build.yml
Labels: none

Use test db for the BUILD database
  .github/workflows/build.yml
Labels: none

We don't want to run js builds when the compile-assets fail
  .github/workflows/build.yml
Labels: none

Remove continue-on-error since all of the steps should pass here
  .github/workflows/build.yml
Labels: none

Switch to JSON cookies
  config/initializers/cookies_serializer.rb
Labels: ruby, config

Remove the swagger jquery lib
  lib/swagger-typescript-jquery/README.mustache
  lib/swagger-typescript-jquery/api.mustache
  lib/swagger-typescript-jquery/apis.mustache
  lib/swagger-typescript-jquery/configuration.mustache
  lib/swagger-typescript-jquery/git_push.sh.mustache
  lib/swagger-typescript-jquery/index.mustache
  lib/swagger-typescript-jquery/licenseInfo.mustache
  lib/swagger-typescript-jquery/masterApiEntry.mustache
  lib/swagger-typescript-jquery/model.mustache
  lib/swagger-typescript-jquery/modelEnum.mustache
  lib/swagger-typescript-jquery/modelGeneric.mustache
  lib/swagger-typescript-jquery/models.mustache
  lib/swagger-typescript-jquery/package.mustache
  lib/swagger-typescript-jquery/tsconfig.mustache
  lib/swagger-typescript-jquery/typings.mustache
  lib/swagger-typescript-jquery/variables.mustache
Labels: none

Remove the various codegen pieces
  package.json
Labels: none

Remove oapi task since we don't need to gen anymore
  lib/tasks/oapi.rake
Labels: none

Remove codegen and java
  script/build/debian/java.sh
  script/download_codegen_cli.sh
Labels: none

Remove the generate-api-js from the build.sh file
  script/build.sh
Labels: none

Stop ignoring the javascript/api folder
  .gitignore
Labels: none

Add contents of javascripts/api folder
  javascripts/api/api/NonprofitApi.ts
  javascripts/api/api/api.ts
  javascripts/api/configuration.ts
  javascripts/api/index.ts
  javascripts/api/model/Nonprofit.ts
  javascripts/api/model/PostNonprofit.ts
  javascripts/api/model/PostNonprofitNonprofit.ts
  javascripts/api/model/PostNonprofitUser.ts
  javascripts/api/model/ValidationError.ts
  javascripts/api/model/ValidationErrors.ts
  javascripts/api/model/models.ts
Labels: javascript

Remove unneeded config for the swagger codegen
  swagger.json
Labels: none

Remove swagger api Gems
  Gemfile
  Gemfile.lock
Labels: dependencies

Remove the swagger stuff from api
  app/api/houdini/v1/api.rb
Labels: ruby

Switch about us URL
  config/commitchange.yml
Labels: config

Remove unnecessary whitespace
  config/routes.rb
Labels: ruby, config

Tabs to spaces
  config/routes.rb
Labels: ruby, config

Remove unnecessary parens
  config/routes.rb
Labels: ruby, config

remove unnecessary brackets
  config/routes.rb
Labels: ruby, config

User member and colleciotn blocks instead of inline
  config/routes.rb
Labels: ruby, config

Use array with symbol construction syntax.
  config/routes.rb
Labels: ruby, config

Cleanup routes file
  config/routes.rb
Labels: ruby, config

Add cleanup route file on git blame ignore revs
  .git-blame-ignore-revs
Labels: none

Remove the strange default for creating a supporter when creating a nonprofit
  spec/factories/nonprofits.rb
  spec/lib/mailchimp_spec.rb
  spec/lib/query/query_supporters_spec.rb
Labels: ruby, spec

Remove no longer needed JRE
  Dockerfile
  script/debian_setup.sh
Labels: none

We don't use ActiveStorage so we can safely turn on their new defaults
  config/initializers/new_framework_defaults_6_1.rb
Labels: ruby, config

We don't use ActionMailbox so we can safely turn on their defaults
  config/initializers/new_framework_defaults_6_1.rb
Labels: ruby, config

We don't use form_with so we can safely turn on its new default
  config/initializers/new_framework_defaults_6_1.rb
Labels: ruby, config

We don't use the retry ability in ActiveJob so safe to turn on retry jitter
  config/initializers/new_framework_defaults_6_1.rb
Labels: ruby, config
