Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

Switch back but make time zone select helper
  app/helpers/timezone_helper.rb
  app/models/nonprofit.rb
  app/views/settings/_timezone.html.erb
Labels: ruby, model, view

Don't log using puts
  app/models/stripe_account.rb
Labels: ruby, model

Remove spec file that isn't covering anything now
  spec/tasks/maintenance/.keep
  spec/tasks/maintenance/update_np_timezone_names_task_spec.rb
Labels: ruby, spec

Add time formats initilizer
  config/initializers/time_formats.rb
Labels: ruby, config

Utilize mdy time format
  app/controllers/campaigns/donations_controller.rb
  app/controllers/nonprofits/payouts_controller.rb
  app/controllers/nonprofits/supporters_controller.rb
  app/controllers/tickets_controller.rb
Labels: ruby, controller

Refactor stripe account deadline formatting
  app/controllers/nonprofits/payouts_controller.rb
  app/controllers/nonprofits_controller.rb
  app/models/nonprofit.rb
Labels: ruby, model, controller

Move commonly used file date format into config
  app/legacy_lib/export_payments.rb
  app/legacy_lib/export_recurring_donations.rb
  app/legacy_lib/export_supporter_notes.rb
  app/legacy_lib/export_supporters.rb
  config/initializers/time_formats.rb
Labels: ruby, config

Refactor common subject out into helper method
  app/mailers/export_mailer.rb
Labels: ruby, mailer

Utilize existing with formatted deadline date
  app/mailers/stripe_account_mailer.rb
Labels: ruby, mailer

Fix stripe account mailer test
  app/mailers/stripe_account_mailer.rb
  app/models/nonprofit.rb
  config/initializers/time_formats.rb
  spec/mailers/stripe_account_mailer_spec.rb
Labels: ruby, spec, model, mailer, config

Spec coverage for the newly added TimezoneHelper
  spec/helpers/timezone_helper_spec.rb
Labels: ruby, spec

Add check of docker compose build for development
  .github/workflows/docker-compose-build-check.yml
Labels: none

Remove no longer needed `Format::Date.us_timezones`
  app/legacy_lib/format/date.rb
Labels: ruby

Switch Intel Mac runner to Macos 15
  .github/workflows/build.yml
Labels: none

Delegate payment timezone
  app/models/payment.rb
  app/views/nonprofit_mailer/invoice_payment_notification.html.erb
  app/views/tax_mailer/_dispute_payment_table.html.erb
  app/views/tax_mailer/_dispute_reversal_payment_table.html.erb
  app/views/tax_mailer/_donation_payment_table.html.erb
  app/views/tax_mailer/_refund_payment_table.html.erb
  spec/models/payment_spec.rb
Labels: ruby, spec, model, view

Delegate Campaign timezone to Nonprofit
  app/models/campaign.rb
  app/views/campaigns/_campaigns_table.html.erb
  app/views/campaigns/_settings_modal.html.erb
  spec/models/campaign_spec.rb
Labels: ruby, spec, model, view

Delegate timezone to nonprofit on Donation
  app/models/donation.rb
  app/views/donation_mailer/_donation_payment_table.html.erb
  spec/models/donation_spec.rb
Labels: ruby, spec, model, view

Delegate timezone to nonprofit on Charge
  app/models/charge.rb
  app/views/charge_mailer/_payment_receipt.html.erb
  spec/models/charge_spec.rb
Labels: ruby, spec, model, view

Configure simplecov
  spec/rails_helper.rb
Labels: ruby, spec

Format simplecov output
  Gemfile
  Gemfile.lock
  spec/rails_helper.rb
Labels: ruby, spec, dependencies

Increase shared memory for database container
  docker-compose.yml
Labels: none

Fix syntax
  docker-compose.yml
Labels: none

Change where gems are stored in Docker
  Dockerfile
  docker-compose.yml
Labels: none

Update docker build check checkout version
  .github/workflows/docker-compose-build-check.yml
Labels: none

Stop forwarding ports unnecessarily
  docker-compose.yml
Labels: none

Correct the usage of docker compose
  README.md
Labels: none

Update Rack to fix CVE
  Gemfile
  Gemfile.lock
Labels: dependencies

Fix the typo in the `nonprofit_campaign_path` call
  app/views/campaigns/_settings_modal.html.erb
Labels: view

Add method for getting associated Stripe::Payout from the Payout object
  app/models/payout.rb
  spec/factories/nonprofits.rb
  spec/factories/payouts.rb
  spec/models/payout_spec.rb
Labels: ruby, spec, model

One Off script to run payouts
  lib/one-off/run_payouts.rb
Labels: ruby

Drop the script into the module namespace
  lib/one-off/run_payouts.rb
Labels: ruby

Move directory
  lib/one_off/run_payouts.rb
Labels: ruby

Update Heroku version in README
  README.md
Labels: none

Update Ruby Version in README
  README.md
Labels: none

Update to Ruby 3.3.10
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
Labels: dependencies

Remove support for Ubuntu 22.04
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: none

Fix SES mailer setup for aws-sdk-rails 5.x
  Gemfile
  Gemfile.lock
  config/environments/production.rb
Labels: ruby, dependencies, config

Update the Dockerfile to remove apt-key
  Dockerfile
Labels: none

Remove Rails autoscale Gem
  Gemfile
  Gemfile.lock
Labels: dependencies

Bump rake from 13.2.1 to 13.3.1
  Gemfile.lock
Labels: dependencies

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"
