Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

Rename BaseAPI to BaseApi for Zeitwerk compatibility
  app/api/houdini/v1/base_api.rb
  app/api/houdini/v1/nonprofit.rb
Labels: ruby

Remove no-longer needed validations file
  app/api/houdini/v1/api.rb
  app/api/houdini/v1/validations.rb
Labels: ruby

Rename CCOrgError to HoudiniError like in upstream
  app/controllers/application_controller.rb
  app/legacy_lib/houdini_error.rb
  app/legacy_lib/not_enough_quantity_error.rb
  app/legacy_lib/temp_block_error.rb
Labels: ruby, controller

Add various inflections
  app/legacy_lib/httparty/logger.rb
  app/legacy_lib/httparty/logger/commitchange_logger.rb
  app/legacy_lib/httparty/logger/full_contact_logger.rb
  app/legacy_lib/httparty/logger/mailchimp_logger.rb
  config/initializers/httparty.rb
  config/initializers/inflections.rb
  config/initializers/zeitwerk.rb
Labels: ruby, config

Switch to rails 6 defaults
  config/application.rb
  config/initializers/new_framework_defaults_6_0.rb
Labels: ruby, config

Update to Rails 6.1.7.10 in the Gemfile
  Gemfile
  Gemfile.lock
Labels: dependencies

Remove all of the CVE backports
  config/initializers/15_string_output_safety.rb
  config/initializers/17_action_dispatch_http_cache.rb
  config/initializers/18_active_support_inflector_methods.rb
  config/initializers/19_active_record_postgresql_quoting.rb
  config/initializers/20_action_dispatch_middleware_cookies.rb
  spec/cve/cve_2015_3225_spec.rb
  spec/cve/cve_2015_3226_spec.rb
  spec/cve/cve_2021_22904_spec.rb
  spec/cve/cve_2022_44566_spec.rb
  spec/cve/cve_2023_22792_spec.rb
  spec/cve/cve_2023_22795_spec.rb
  spec/cve/cve_2023_22796/cve_2023_22796_spec.rb
  spec/cve/cve_2023_22796/inflector_test_cases.rb
Labels: ruby, spec, config

Update grape_logging
  Gemfile.lock
Labels: dependencies

Switch to concurrent-ruby 1.3.4
  Gemfile
  Gemfile.lock
Labels: dependencies

Reduce i18n-js to 3.8 version
  Gemfile
  Gemfile.lock
Labels: dependencies

Update pg
  Gemfile
  Gemfile.lock
Labels: dependencies

Update actionpack actioncaching
  Gemfile.lock
Labels: dependencies

Update config.ru for Rails 6.1
  config.ru
Labels: none

Update bin/rails to Rails 6.1
  bin/rails
Labels: none

Update bin/rake for Rails 6.1
  bin/rake
Labels: none

Update bin/yarn for Rails 6.1
  bin/yarn
Labels: none

Update puma.rb for Rails 6.1
  config/puma.rb
Labels: ruby, config

Add Rails 6.1 framework defaults file
  config/initializers/new_framework_defaults_6_1.rb
Labels: ruby, config

Update backtrace silencers for Rails 6.1
  config/initializers/backtrace_silencers.rb
Labels: ruby, config

Update filter parameter logging and add license
  config/initializers/filter_parameter_logging.rb
Labels: ruby, config

Add permissions policy file for Rails 6.1
  config/initializers/permissions_policy.rb
Labels: ruby, config

Update development env for Rails 6.1
  config/environments/development.rb
Labels: ruby, config

Update test enviroment for Rails 6.1
  config/environments/test.rb
Labels: ruby, config

Update production environment to Rails 6.1
  config/environments/production.rb
Labels: ruby, config

Update from upstream to work on Rails 6.1
  config/initializers/pg_type_map.rb
Labels: ruby, config

Switch to new API for helpers in Rails 6.1
  app/mailers/base_mailer.rb
Labels: ruby, mailer

Remove the monkey patch for old versions of Rails and db strings
  lib/tasks/database.rake
Labels: none

Remove unused traceroute gem
  Gemfile
  Gemfile.lock
Labels: dependencies

Update to Ruby 3
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  README.md
Labels: none

Update Stripe to 5.0
  Gemfile
Labels: none

Update binding_of_caller to Ruby 3
  Gemfile.lock
Labels: dependencies

This works for some reason?
  config/initializers/pg_type_map.rb
Labels: ruby, config

Add rexml gem
  Gemfile
  Gemfile.lock
Labels: dependencies

Remove unneeded http authentication monkey patch
  config/initializers/http_authentication_monkey_patch.rb
Labels: ruby, config

Remove deprecated return
  app/legacy_lib/insert_refunds.rb
Labels: ruby

Explain while we're using i18n-js 3.8
  Gemfile
Labels: none

Correct the return from transaction deprecation
  app/legacy_lib/create_campaign_gift.rb
Labels: ruby

Fix lookup context for jbuilder views in api_new
  spec/views/api_new/transactions/index.json.jbuilder_spec.rb
  spec/views/api_new/users/current.json.jbuilder_spec.rb
Labels: ruby, spec

Add successful gift to create campaign gift option
  app/legacy_lib/create_campaign_gift.rb
Labels: ruby

Fix transaction return deprecation in InsertBankAccount
  app/legacy_lib/insert_bank_account.rb
Labels: ruby

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"
