Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

We only have one before_enqueue and before_perform usage and it doesn't throw :abort so this should be fine.
  config/initializers/new_framework_defaults_6_1.rb
Labels: ruby, config

Everything is redirected to SSL prior to getting to the server so can't be an issue.
  config/initializers/new_framework_defaults_6_1.rb
Labels: ruby, config

Turn on the preload links header
  config/initializers/new_framework_defaults_6_1.rb
Labels: ruby, config

We don't use utc_to_local anywhere so we should be fine
  config/initializers/new_framework_defaults_6_1.rb
Labels: ruby, config

I think the deliver later queue should be fine as default
  config/initializers/new_framework_defaults_6_1.rb
Labels: ruby, config

We don't use multiple dbs so legacy_connection_handling should be fine
  config/initializers/new_framework_defaults_6_1.rb
Labels: ruby, config

Turn on non-reversible framework defaults
  config/initializers/new_framework_defaults_6_1.rb
Labels: ruby, config

Turn on has_many inversing
  config/initializers/new_framework_defaults_6_1.rb
Labels: ruby, config

Switch to Rails 6.1 defaults fully
  config/application.rb
  config/initializers/new_framework_defaults_6_1.rb
Labels: ruby, config

Remove mail gem restriction
  Gemfile
  Gemfile.lock
Labels: dependencies

Remove date limitation
  Gemfile
  Gemfile.lock
Labels: dependencies

Update nokogiri to proper upstream
  Gemfile
  Gemfile.lock
Labels: dependencies

Use upstream fx
  Gemfile
  Gemfile.lock
Labels: dependencies

Remove unneded ruby2_keywords gem
  Gemfile
  Gemfile.lock
Labels: dependencies

Update jbuilder
  Gemfile.lock
Labels: dependencies

Update jbuilder to 2.13.0 to fix warnings on Ruby 2.7
  Gemfile.lock
Labels: dependencies

Correct the StripeMockHelper spec for Stripe gem 5.0
  spec/support/test/stripe_mock_helper_spec.rb
Labels: ruby, spec

Add specs for Stripe::Product factories
  spec/factories/stripe/stripe_product.rb
  spec/factory_specs/stripe/stripe_products_spec.rb
Labels: ruby, spec

Remove a spec for Stripe::Card that was testing an internal API of StripeMock.
  spec/factory_specs/stripe/stripe_cards_spec.rb
Labels: ruby, spec

Add a mocked product into Stripe::Plan factory as it now requires a product.
  spec/factories/stripe/stripe_plans.rb
Labels: ruby, spec

Correct the card error generation in a spec
  spec/lib/insert/insert_card_spec.rb
Labels: ruby, spec

Use the prepare_card_error built into StripeMock to simplify error creation
  spec/lib/insert/insert_card_spec.rb
Labels: ruby, spec

Change the error message on a generic StripeError to make clear that it's NOT a CardError
  spec/lib/insert/insert_card_spec.rb
Labels: ruby, spec

Cleanup the gen'd code
  javascripts/api/model/PostNonprofitNonprofit.ts
Labels: javascript

Gen'd code cleanup
  javascripts/api/model/Nonprofit.ts
  javascripts/api/model/PostNonprofit.ts
  javascripts/api/model/PostNonprofitNonprofit.ts
  javascripts/api/model/PostNonprofitUser.ts
  javascripts/api/model/ValidationError.ts
  javascripts/api/model/ValidationErrors.ts
Labels: javascript

Use `args={}` instead of `**args` in some method arguments so it matches what Ruby 3 wants.
  app/models/fee_structure.rb
Labels: ruby, model

In `FeeStructure::FeeCalculation`: use `args={}` instead of `**args` for Ruby 3
  app/models/fee_structure.rb
Labels: ruby, model

Update faker for Ruby 3
  Gemfile.lock
  app/legacy_lib/insert_bank_account.rb
Labels: ruby, dependencies

In `spec/support/payments_for_a_payout.rb`: use `args={}` instead of `**args` for Ruby 3
  spec/support/payments_for_a_payout.rb
Labels: ruby, spec

In `spec/controllers/support/new_controller_user_context.rb`: use `args={}` instead of `**args` for Ruby 3
  spec/controllers/support/new_controller_user_context.rb
Labels: ruby, spec

Add a spec for catching the `NoMethodError` raised by `TagJoin::Modification.new`
  spec/models/tag_join/modification_spec.rb
Labels: ruby, spec

Fix `NoMethodError` raised by `TagJoin::Modification.new` when `ActionController::Parameters` passed
  app/models/tag_join/modification.rb
Labels: ruby, model

Add spec for the strong params on `Nonprofits::TagJoinsController#modify`
  spec/controllers/nonprofits/tag_joins_spec.rb
Labels: ruby, spec

Remove unneeded test
  spec/lib/insert/insert_tag_joins_spec.rb
Labels: ruby, spec

Use ActiveModel::Attributes features properly
  app/models/tag_join/modification.rb
Labels: ruby, model

Correct the type of arguments
  spec/controllers/support/new_controller_user_context.rb
Labels: ruby, spec

Update Grape to 2.3
  Gemfile
  Gemfile.lock
Labels: dependencies

Fix the db setup in deploy.yml and move setting the ruby version into an env section
  .github/workflows/deploy.yml
Labels: none

Fixes build bug for NODE_ENV
  package.json
Labels: none

Revert "Switch to JSON cookies"
  config/initializers/cookies_serializer.rb
Labels: ruby, config

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"
