Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

Update rabl to 0.17.0
  Gemfile.lock
Labels: dependencies

Remove puma worker killer
  Gemfile
  Gemfile.lock
Labels: dependencies

Remove puma worker killer config calls
  config/puma.rb
Labels: ruby, config

Fix new rabl response issues
  spec/controllers/maps_spec.rb
  spec/controllers/nonprofits/custom_field_masters_spec.rb
  spec/controllers/nonprofits/custom_fields_joins_spec.rb
  spec/controllers/nonprofits/payments_spec.rb
  spec/controllers/nonprofits/recurring_donations_spec.rb
  spec/controllers/support/shared_user_context.rb
Labels: ruby, spec

Switch to standard
  Gemfile
  Gemfile.lock
  bin/standardrb
Labels: dependencies

Add .standard.yml file
  .standard.yml
Labels: none

Update caniuse light
  yarn.lock
Labels: dependencies

Remove puma worker killer
  Gemfile
  Gemfile.lock
Labels: dependencies

Remove puma worker killer config calls
  config/puma.rb
Labels: ruby, config

Update to later version of globalid
  Gemfile
  Gemfile.lock
Labels: dependencies

Move session_store info into initializer
  config/environments/production.rb
  config/environments/staging.rb
  config/initializers/session_store.rb
Labels: ruby, config

Switch from incorrect inputs.map to inputs.forEach
  client/js/common/on-change-sanitize-slug.js
Labels: javascript

Load svg as data-urls for webpack and use it
  client/js/nonprofits/button/type.js
  client/js/nonprofits/donate/wizard.js
  webpack.config.js
Labels: javascript

Add some small pngs too
  client/js/nonprofits/button/appearance.js
  webpack.config.js
Labels: javascript

Replace the Commitchange::Application refs with Rails.application
  Rakefile
  config.ru
  config/environments/ci.rb
  config/environments/staging.rb
  config/initializers/log_rage.rb
  config/initializers/secret_token.rb
  config/routes.rb
Labels: ruby, config

Correct environment.rb tabbing
  config/environment.rb
Labels: ruby, config

Switch tabs to spaces in carrierwave init
  config/initializers/carrierwave.rb
Labels: ruby, config

Add the carrierwave init reformat to git blame ignore revs
  .git-blame-ignore-revs
Labels: none

Switch to dollarsToCentsSafe
  client/js/nonprofits/donate/amount-step.js
  client/js/recurring_donations/edit/amount-step.es6
Labels: javascript

Use #reload for testing whether an ActiveRecord object is still in DB
  spec/lib/insert/insert_email_lists_spec.rb
Labels: ruby, spec

Add doc for collect_test_variables
  spec/controllers/support/shared_user_context.rb
Labels: ruby, spec

DRY up the accept method in :shared_user_context
  spec/controllers/support/shared_user_context.rb
Labels: ruby, spec

Correct weird broken test (I don't know why this ever worked)
  spec/lib/job_types/campaign_updated_job_spec.rb
Labels: ruby, spec

Remove deprecated call in nonprofit_spec
  spec/api/houdini/nonprofit_spec.rb
Labels: ruby, spec

Replace uniq to distinct
  app/controllers/nonprofits_controller.rb
Labels: ruby, controller

Update framework defaults
  config/initializers/new_framework_defaults.rb
Labels: ruby, config

Set belongs_to required by default to false
  config/application.rb
  config/initializers/new_framework_defaults.rb
Labels: ruby, config

Set to not raise on unfiltered parameters since we won't be using that fully
  config/initializers/new_framework_defaults.rb
Labels: ruby, config

Remove unused old option on transaction callbacks
  config/application.rb
Labels: ruby, config

Remove a bunch of commented out code in puma.rb
  config/puma.rb
Labels: ruby, config

Migrate to ActiveSupport::Reloader in reload_api initializer
  config/initializers/reload_api.rb
Labels: ruby, config

Update to Rails 5.1 via bundle
  Gemfile
  Gemfile.lock
Labels: dependencies

Tweak the environment.rb formatting for Rails 5.1
  config/environment.rb
Labels: ruby, config

Add the load defaults for 5.1
  config/application.rb
Labels: ruby, config

Add documentation to routes
  config/routes.rb
Labels: ruby, config

Add the license to secrets.yml
  config/secrets.yml
Labels: config

Update docs for secrets.yml
  config/secrets.yml
Labels: config

Add bin/yarn from Rails 5.1
  bin/yarn
Labels: none

Add bin/bundle from rails 5.1
  bin/bundle
Labels: none

Add new Rails 5.1 framework defaults
  config/initializers/new_framework_defaults_5_1.rb
Labels: ruby, config

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"
