Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"

Remove unused `NonprofitsController#create`
  app/controllers/nonprofits_controller.rb
  app/legacy_lib/construct_nonprofit.rb
  app/legacy_lib/create_stripe_account.rb
  app/models/nonprofit.rb
  config/routes.rb
  spec/controllers/nonprofits_spec.rb
Labels: ruby, spec, model, controller, config

Add setting to require 2fa for nonprofit
  app/controllers/nonprofits_controller.rb
  app/controllers/users/registrations_controller.rb
  app/forms/nonprofit_settings_form.rb
  app/models/nonprofit.rb
  app/models/role.rb
  app/models/user.rb
  app/views/settings/_two_factor_auth.html.erb
  app/views/settings/_users.html.erb
  config/initializers/devise.rb
  db/migrate/20250623214715_add_require_two_factor_to_nonprofits.rb
  db/schema.rb
  spec/forms/nonprofit_settings_form_spec.rb
  spec/requests/api/nonprofits_spec.rb
Labels: ruby, spec, model, controller, view, config

Move org 2fa to separate settings pane
  app/views/settings/_org_two_factor_auth.html.erb
  app/views/settings/_users.html.erb
  app/views/settings/index.html.erb
Labels: view

Make otp fields inaccessible again
  app/models/user.rb
  app/views/settings/index.html.erb
Labels: ruby, model, view

Return 403 on non-admin nonprofit update attempt
  app/controllers/nonprofits_controller.rb
Labels: ruby, controller

Exlcude require_two_factor from update for non admin
  app/controllers/nonprofits_controller.rb
Labels: ruby, controller

Hyphenate two-factor consistently
  app/views/settings/_org_two_factor_auth.html.erb
  app/views/settings/_two_factor_auth.html.erb
  app/views/settings/index.html.erb
Labels: view

Removed empty module
  app/legacy_lib/query_charges.rb
Labels: ruby

Show full password error message in registrations
  app/controllers/users/registrations_controller.rb
Labels: ruby, controller

Migrate Numeric core_exts to correct directory
  lib/core_ext/numeric.rb
  spec/lib/numeric_spec.rb
Labels: ruby, spec

Remove migrated numeric
  app/legacy_lib/calculate_suggested_amounts.rb
Labels: ruby

Update rack to 2.2.17
  Gemfile.lock
Labels: dependencies

Remove unused `require "cypher"` from `InsertNonprofitKeys`
  app/legacy_lib/insert_nonprofit_keys.rb
Labels: ruby

Remove unused `Hash.with_defaults_unless_nil` method
  app/legacy_lib/hash.rb
  spec/lib/hash_spec.rb
Labels: ruby, spec

Add dumpcar
  Gemfile
  Gemfile.lock
Labels: dependencies

Added dumpcar .gitignore
  .gitignore
  db/dumps/.keep
Labels: none

Switch to using dumpcar
  script/restore_from_heroku.sh
Labels: none

Remove all of the ETapesty Import code
  app/legacy_lib/payment_dupes.rb
  app/legacy_lib/reassign_supporter_items.rb
  app/models/e_tap_import.rb
  app/models/e_tap_import_contact.rb
  app/models/e_tap_import_journal_entry.rb
  app/models/journal_entries_to_item.rb
  app/models/payment.rb
  app/models/payment_dupe_status.rb
  app/models/reassignment.rb
  db/migrate/20250715004028_remove_etap_import_code.rb
  db/schema.rb
  spec/factories/e_tap_import_contacts.rb
  spec/factories/e_tap_import_journal_entries.rb
  spec/factories/e_tap_imports.rb
  spec/factories/payment_dupe_statuses.rb
  spec/factories/reassignments.rb
  spec/lib/payment_dupes_spec.rb
  spec/lib/reassign_supporter_items_spec.rb
  spec/models/e_tap_import_contact_spec.rb
  spec/models/e_tap_import_journal_entry_spec.rb
  spec/models/e_tap_import_spec.rb
  spec/models/payment_dupe_status_spec.rb
  spec/models/reassignment_spec.rb
Labels: ruby, spec, model

Silence Rails/ReversibleMigration warnings
  db/migrate/20250715004028_remove_etap_import_code.rb
Labels: ruby

Add the MaintenanceTasks
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/superadmin_base_controller.rb
  config/initializers/maintenance_tasks.rb
  config/routes.rb
  db/migrate/20250718232728_create_maintenance_tasks_runs.maintenance_tasks.rb
  db/migrate/20250718232729_change_cursor_to_string.maintenance_tasks.rb
  db/migrate/20250718232730_remove_index_on_task_name.maintenance_tasks.rb
  db/migrate/20250718232731_add_arguments_to_maintenance_tasks_runs.maintenance_tasks.rb
  db/migrate/20250718232732_add_lock_version_to_maintenance_tasks_runs.maintenance_tasks.rb
  db/migrate/20250718232733_change_runs_tick_columns_to_bigints.maintenance_tasks.rb
  db/migrate/20250718232734_add_index_on_task_name_and_status_to_runs.maintenance_tasks.rb
  db/migrate/20250718232735_add_metadata_to_runs.maintenance_tasks.rb
  db/schema.rb
  spec/requests/maintenance_tasks_spec.rb
Labels: ruby, spec, controller, dependencies, config

Fix bug where removing all tags from a supporter or supporters failed
  app/controllers/nonprofits/tag_joins_controller.rb
  spec/controllers/nonprofits/tag_joins_spec.rb
Labels: ruby, spec, controller

Remove seemingly unused format-number npm package
  package.json
  yarn.lock
Labels: dependencies

Some minor cleanup
  client/js/events/listings/index.js
  client/js/nonprofits/dashboard/page.js
Labels: javascript

Switch `mixin` to `recentActivitiesSection`
  client/js/components/public-activities.js
Labels: javascript

Disable keep alives
  config/puma.rb
Labels: ruby, config

Add `Event#virtual` and adjust validation to allow blank address fields when `#virtual` is true
  app/legacy_lib/query_event_metrics.rb
  app/models/event.rb
  app/views/events/_edit_form.html.erb
  app/views/events/_location.html.erb
  app/views/events/_new_modal.html.erb
  app/views/events/show.html.erb
  client/js/events/listing-item/index.js
  client/js/events/new/wizard.js
  client/js/events/show/editor.js
  db/migrate/20250826154514_add_virtual_to_event.rb
  db/schema.rb
  spec/models/event_spec.rb
  spec/views/events/_location.html.erb_spec.rb
Labels: ruby, javascript, spec, model, view

Add `Event#in_person_or_virtual` enum
  spec/lib/insert/insert_duplicate_spec.rb
Labels: ruby, spec

Add `define_enum_for` for `Event#in_person_or_virtual`
  spec/models/event_spec.rb
Labels: ruby, spec

Add validation to `Event#in_person_or_virtual`
  app/models/event.rb
  spec/models/event_spec.rb
Labels: ruby, spec, model

Add `TicketMailer#followup` adjustments for whether an even is in person or virtual
  app/views/ticket_mailer/followup.html.erb
  spec/factories/tickets.rb
  spec/mailers/ticket_mailer_spec.rb
  spec/models/ticket_spec.rb
Labels: ruby, spec, view

Remove the useless classes
  app/views/events/_edit_form.html.erb
Labels: view

Rollback Maintenance task for schema
  db/schema.rb
Labels: ruby

Update app/models/event.rb
  app/models/event.rb
Labels: ruby, model

Switch to use a `with_options` block for handling virtual validation requirements
  app/models/event.rb
Labels: ruby, model

Update app/views/events/_edit_form.html.erb
  app/views/events/_edit_form.html.erb
Labels: view

Update app/views/events/_new_modal.html.erb
  app/views/events/_new_modal.html.erb
Labels: view

Update spec/models/event_spec.rb
  spec/models/event_spec.rb
Labels: ruby, spec

Update app/views/events/_new_modal.html.erb
  app/views/events/_new_modal.html.erb
Labels: view

Add a `google_maps_url` helper as suggested by @jrmehle
  app/controllers/events_controller.rb
  app/helpers/address_helper.rb
  app/mailers/ticket_mailer.rb
  app/views/events/_location.html.erb
  app/views/events/_schema.html.erb
  app/views/ticket_mailer/followup.html.erb
  spec/helpers/address_helper_spec.rb
Labels: ruby, spec, controller, mailer, view

Correct some wonkiness
  db/schema.rb
Labels: ruby
