Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

payment query fix
  app/legacy_lib/query_payments.rb
  spec/lib/query/query_payments_spec.rb
Labels: ruby, spec

Validate behavior of mailchimp_login
  spec/controllers/nonprofits/nonprofit_keys_spec.rb
Labels: ruby, spec

Update spec/controllers/nonprofits/nonprofit_keys_spec.rb
  spec/controllers/nonprofits/nonprofit_keys_spec.rb
Labels: ruby, spec

Update to Ruby 3.1
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
Labels: dependencies

Update timecop
  Gemfile.lock
Labels: dependencies

Remove all uses of Ubuntu 20.04
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: none

Turn on `action_controller.raise_on_open_redirects` which is a good idea.
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Revert "Turn on `action_controller.raise_on_open_redirects` which is a good idea."
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Add action_controller.raise_on_open_redirects = true
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Add allow_other_host: true to external redirects
  app/controllers/application_controller.rb
  app/controllers/nonprofits/nonprofit_keys_controller.rb
  app/controllers/static_controller.rb
Labels: ruby, controller

Use a single default_url_options everywhere
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
Labels: ruby, config

Cleanup code
  spec/routing/direct_routes_spec.rb
Labels: ruby, spec

Use profile_path(profile)
  app/views/components/_header.html.erb
Labels: view

Move Nonprofit#url to use the slugged routes
  app/models/nonprofit.rb
  spec/models/nonprofit_spec.rb
Labels: ruby, spec, model

Add slugged_nonprofit_dashboard_path in more places
  app/controllers/front_controller.rb
  app/views/layouts/_admin_menu.html.erb
  spec/routing/slugged_nonprofits_spec.rb
Labels: ruby, spec, controller, view

Add simpler fancy routes
  app/controllers/front_controller.rb
  config/routes.rb
  spec/controllers/front_spec.rb
  spec/controllers/support/shared_user_context.rb
  spec/routing/direct_routes_spec.rb
Labels: ruby, spec, controller, config

Delete unneeded NonprofitPath
  app/legacy_lib/nonprofit_path.rb
Labels: ruby

WIP
  config/routes.rb
Labels: ruby, config

Switch the routes to start with slugged_nonprofit
  config/routes.rb
  spec/routing/direct_routes_spec.rb
  spec/routing/slugged_nonprofits_spec.rb
Labels: ruby, spec, config

Switch back to previous url
  app/models/nonprofit.rb
Labels: ruby, model

Remove duplicate action_mailer.default_url_options setter
  config/environments/development.rb
Labels: ruby, config

Use slugged_nonprofit_path for the main link
  app/views/layouts/_admin_menu.html.erb
Labels: view

Add it for action_controller too
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
Labels: ruby, config

Remove old default headers and add new ones
  config/application.rb
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Switch to Rails 7.0 defaults entirely
  config/application.rb
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Add slugged nonprofit routes
  app/controllers/front_controller.rb
  app/legacy_lib/nonprofit_path.rb
  app/views/components/_header.html.erb
  app/views/layouts/_admin_menu.html.erb
  config/routes.rb
  spec/controllers/front_spec.rb
  spec/controllers/support/shared_user_context.rb
  spec/models/nonprofit_spec.rb
  spec/routing/slugged_nonprofits_spec.rb
Labels: ruby, spec, controller, view, config

Add explanation to slugged routes
  config/routes.rb
Labels: ruby, config

Undo change to staging env
  config/environments/staging.rb
Labels: ruby, config

Correct change to test env
  config/environments/test.rb
Labels: ruby, config

Revert change to development
  config/environments/development.rb
Labels: ruby, config

no really revert change to test
  config/environments/test.rb
Labels: ruby, config

Correct deprecated method name
  config/initializers/session_store.rb
Labels: ruby, config

Remove unused FullContact setup
  .env.template
  .env.test
  config/initializers/fullcontact.rb
Labels: ruby, config

Move and update utilities.spec.js
  client/js/common/utilities.spec.js
  spec/js/legacy/index.js
  spec/js/legacy/utilities_spec.js
Labels: javascript, spec

Move out a few simple functions from nonprofits/payments/index/page.js
  client/js/nonprofits/payments/index/page.js
  client/js/nonprofits/payments/index/utils.ts
Labels: javascript

Fix formatting
  client/js/nonprofits/payments/index/utils.ts
Labels: javascript

Use a direct re-export
  client/js/nonprofits/payments/index/utils.ts
Labels: javascript

Add some tests to the nonprofit-paths
  config/routes.rb
  spec/requests/nonprofits/payments_controller_spec.rb
  spec/requests/nonprofits_spec.rb
Labels: ruby, spec, config

Add missing license header
  spec/requests/nonprofits/payments_controller_spec.rb
Labels: ruby, spec

Cleanup
  spec/requests/nonprofits/payments_controller_spec.rb
Labels: ruby, spec

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"
