Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"

Update bin/bundle
  bin/bundle
Labels: none

Add explanation of why we're using mail 2.7.1 gem
  Gemfile
Labels: none

Use sprockets 3.7
  Gemfile
  Gemfile.lock
Labels: dependencies

Merge in from upstream
  spec/controllers/events_spec.rb
  spec/controllers/support/shared_user_context.rb
Labels: ruby, spec

Remove no longer needed monkeypatch for an test response
  spec/rails_helper.rb
Labels: ruby, spec

Rename type_cast_from_user to cast for ActiveRecord types
  app/models/tag_join/modification.rb
Labels: ruby, model

Move the campaign requirement into the belongs_to
  app/models/campaign_gift_option.rb
Labels: ruby, model

Fix balance transaction to JSONness
  app/models/stripe_dispute.rb
Labels: ruby, model

Move ObjectEvent.to_json to an actual object, not a string
  app/models/object_event.rb
Labels: ruby, model

Correct a stripe_account_spec json parsing issue
  spec/models/stripe_account_spec.rb
Labels: ruby, spec

Move required into belongs_to
  app/models/periodic_report.rb
Labels: ruby, model

Move the required in Transaction into the belongs_to
  app/models/transaction.rb
Labels: ruby, model

Add missing rails_helper require in the CalculateSuggestAmounts spec
  spec/lib/calculate/calculate_suggested_amounts_spec.rb
Labels: ruby, spec

Removing client/js/nonprofits/cards/edit/ dir
  client/js/nonprofits/cards/edit/index.es6
  client/js/nonprofits/cards/edit/page.js
Labels: javascript

removing nonprofit cards controller and controller spec
  app/controllers/nonprofits/cards_controller.rb
  spec/controllers/nonprofits/cards_spec.rb
Labels: ruby, spec, controller

fix donation button mapping bug from ramda removal
  client/js/events/show/page.js
Labels: javascript

fix bug in email settings ramda removal
  client/js/settings/index/email-settings/index.js
Labels: javascript

Remove tests for old ApplicationController.renderer backport
  spec/backport/action_controller_renderer_spec.rb
Labels: ruby, spec

Update to grape 1.8.0
  Gemfile
  Gemfile.lock
Labels: dependencies

Update to config 2.0
  Gemfile
  Gemfile.lock
Labels: dependencies

Switch to updated config gem
  config/environment.rb
Labels: ruby, config

Remove deprecated xhr call from spec/api/houdini/nonprofit_spec.rb
  spec/api/houdini/nonprofit_spec.rb
Labels: ruby, spec

Fix error in billing_subscription_spec
  spec/controllers/billing_subscriptions_spec.rb
Labels: ruby, spec

Fix error in spec/controllers/campaigns/supporters_spec.rb
  spec/controllers/campaigns/supporters_spec.rb
Labels: ruby, spec

Fix error in spec/controllers/nonprofits/button_spec.rb
  spec/controllers/nonprofits/button_spec.rb
Labels: ruby, spec

Fix spec/controllers/nonprofits/bank_accounts_spec.rb
  spec/controllers/nonprofits/bank_accounts_spec.rb
Labels: ruby, spec

Fix for spec/controllers/settings_spec.rb
  spec/controllers/settings_spec.rb
Labels: ruby, spec

Fix for spec/controllers/nonprofits/cards_spec.rb
  spec/controllers/nonprofits/cards_spec.rb
Labels: ruby, spec

Fix deprecated find of ActiveRecord object
  spec/lib/insert/insert_email_lists_spec.rb
Labels: ruby, spec

Remove redundant spec
  spec/models/transaction_spec.rb
Labels: ruby, spec

Fix some deprecations
  spec/controllers/support/new_controller_user_context.rb
Labels: ruby, spec

Update validator to correct a deprecation error
  app/api/houdini/v1/validators/is_equal_to.rb
Labels: ruby

Switch to proper `find_by!`
  app/controllers/concerns/controllers/api_new/transaction/current.rb
Labels: ruby, controller

Fix for controller params deprecation
  spec/controllers/concerns/transaction/current_spec.rb
Labels: ruby, spec

Fix events controller test quirk
  spec/controllers/events_spec.rb
Labels: ruby, spec

Fix for super admins test
  spec/controllers/super_admins_spec.rb
Labels: ruby, spec

Fix for tickets controller test
  spec/controllers/tickets_spec.rb
Labels: ruby, spec

Fix for Nonprofit::RecurringDonationsController test
  spec/controllers/nonprofits/recurring_donations_spec.rb
Labels: ruby, spec

Fix for Nonprofit::PaymentsController test
  spec/controllers/nonprofits/payments_spec.rb
Labels: ruby, spec

Mark NonprofitsController#btn test as no longer pending
  spec/controllers/nonprofits_spec.rb
Labels: ruby, spec
