Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

Add standard-rails
  Gemfile
  Gemfile.lock
Labels: dependencies

git blame ignore the last standardrb --fix
  .git-blame-ignore-revs
Labels: none

Update to Ruby 3.3
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
Labels: dependencies

Update premailer-rails
  Gemfile.lock
Labels: dependencies

Remove straggling expire_action
  app/controllers/nonprofits_controller.rb
Labels: ruby, controller

Add `:email_setting` factory
  spec/factories/email_settings.rb
Labels: ruby, spec

Add a spec for `EmailSettingsController`
  spec/controllers/email_settings_spec.rb
Labels: ruby, spec

Remove `attr_accessible` from `EmailSetting`
  app/models/email_setting.rb
Labels: ruby, model

Fix `UpdateEmailSettings`
  app/legacy_lib/update_email_settings.rb
Labels: ruby

Migrate to strong parameters for `EmailSettingsController`
  app/controllers/email_settings_controller.rb
  spec/controllers/email_settings_spec.rb
Labels: ruby, spec, controller

Remove no-longer needed `UpdateEmailSettings`
  app/legacy_lib/update_email_settings.rb
Labels: ruby

Correct plurality of `:email_settings` in spec
  spec/controllers/email_settings_spec.rb
Labels: ruby, spec

Revert "Switch postgresql action in deploy to the one in build.yml"
  .github/workflows/deploy.yml
Labels: none

Get working on redirect
  client/js/campaigns/show/page.js
  client/js/nonprofits/donate/wizard.js
  client/js/nonprofits/donate/wizard/utils.ts
Labels: javascript

Correct arguments
  client/js/nonprofits/donate/wizard.js
Labels: javascript

Update to jest 27
  javascripts/src/components/common/Modal.spec.tsx
  jest.config.js
  package.json
  yarn.lock
Labels: javascript, spec, dependencies

Update to jest 28
  package.json
  yarn.lock
Labels: dependencies

Update to jest 29
  package.json
  yarn.lock
Labels: dependencies

Update jest snapshots to the new Jest 29 style
  client/js/nonprofits/donate/components/info-step/customFields/__snapshots__/customField.spec.ts.snap
  client/js/nonprofits/donate/components/info-step/customFields/__snapshots__/index.spec.ts.snap
  javascripts/src/components/common/__snapshots__/Modal.spec.tsx.snap
  javascripts/src/components/common/__snapshots__/ScreenReaderOnlyText.spec.tsx.snap
  javascripts/src/components/common/__snapshots__/Spinner.spec.tsx.snap
  javascripts/src/components/common/wizard/RAT/__snapshots__/Wrapper.spec.tsx.snap
  javascripts/src/components/common/wizard/__snapshots__/Wizard.spec.tsx.snap
  javascripts/src/lib/payments/__snapshots__/legacy_stripe_fee_structure.spec.ts.snap
  javascripts/src/lib/payments/__snapshots__/modern_stripe_fee_structure.spec.ts.snap
Labels: javascript, spec

Update the @types/jest
  package.json
  yarn.lock
Labels: dependencies

I think nearly done?
  client/js/nonprofits/donate/wizard/WidgetWindowWrapper.spec.ts
  client/js/nonprofits/donate/wizard/WidgetWindowWrapper.ts
  client/js/nonprofits/donate/wizard/WindowWrapper.ts
  client/js/nonprofits/donate/wizard/__mocks__/WindowWrapper.ts
  client/js/nonprofits/donate/wizard/utils.spec.ts
  client/js/nonprofits/donate/wizard/utils.ts
Labels: javascript, spec

Cleanup
  client/js/nonprofits/donate/wizard/WidgetWindowWrapper.spec.ts
Labels: javascript, spec

Add documentation
  client/js/nonprofits/donate/wizard.js
Labels: javascript

Cleanup
  client/js/nonprofits/donate/wizard/utils.ts
Labels: javascript

Reorg
  client/js/campaigns/show/page.js
  client/js/nonprofits/donate/page.js
  client/js/nonprofits/donate/wizard/utils/WidgetWindowWrapper.spec.ts
  client/js/nonprofits/donate/wizard/utils/WidgetWindowWrapper.ts
  client/js/nonprofits/donate/wizard/utils/WindowWrapper.ts
  client/js/nonprofits/donate/wizard/utils/handleWizardFinished.spec.ts
  client/js/nonprofits/donate/wizard/utils/handleWizardFinished.ts
  client/js/nonprofits/donate/wizard/utils/index.ts
  client/js/nonprofits/donate/wizard/utils/parseDonateParams.ts
Labels: javascript, spec

Cleanup
  client/js/campaigns/show/page.js
  client/js/nonprofits/donate/page.js
  client/js/nonprofits/donate/wizard/utils/WidgetWindowWrapper.ts
  client/js/nonprofits/donate/wizard/utils/handleWizardFinished.ts
  client/js/nonprofits/donate/wizard/utils/index.ts
  client/js/nonprofits/donate/wizard/utils/parseDonateParams.ts
Labels: javascript

Add check for get_bracket_by_amount
  spec/lib/calculate/calculate_suggested_amounts_spec.rb
Labels: ruby, spec

Switch to `.find` from `.select.first`
  app/legacy_lib/calculate_suggested_amounts.rb
Labels: ruby

Remove unused methods and queries in QueryNonprofits
  app/legacy_lib/query_nonprofits.rb
Labels: ruby

Remove commented out code in QueryNonprofits
  app/legacy_lib/query_nonprofits.rb
Labels: ruby

Remove the sendfile-header that we get a warning about from Heroku
  config/environments/production.rb
Labels: ruby, config

Use single `config.asset_host`
  config/environments/production.rb
Labels: ruby, config

Complete the JsRoutes upgrade
  .gitignore
  Rakefile
  config/environments/development.rb
  config/initializers/js_routes.rb
Labels: ruby, config

Revert "Bump the production-dependencies-minor group across 1 directory with 22 updates"
  .gitignore
  Gemfile
  Gemfile.lock
  Rakefile
  config/environments/development.rb
  config/initializers/js_routes.rb
Labels: ruby, dependencies, config

Update standard-rails to 1.4.0
  Gemfile.lock
Labels: dependencies

Remove rack-freeze
  Gemfile
  Gemfile.lock
Labels: dependencies

Update production to Rails 7.1
  config/environments/production.rb
Labels: ruby, config

Readd missing ruby platform
  Gemfile.lock
Labels: dependencies

Run `bin/standardrb --fix`
  config/environments/production.rb
Labels: ruby, config

Readd deleted AWS credentials
  config/environments/production.rb
Labels: ruby, config

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"
