Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"

Add CSP
  config/initializers/content_security_policy.rb
Labels: ruby, config

Add initial, unused ActiveStorage file
  config/storage.yml
Labels: config

Add new framework defaults for 5.2
  config/initializers/new_framework_defaults_5_2.rb
Labels: ruby, config

Update puma to 5.2
  config/puma.rb
Labels: ruby, config

Update development for Rails 5.2
  config/environments/development.rb
Labels: ruby, config

Update test for Rails 5.2
  config/environments/test.rb
Labels: ruby, config

Update production.rb to Rails 5.2
  config/environments/production.rb
Labels: ruby, config

Remove no-longer needed backport for CVE Test 2020-5297
  config/initializers/10_action_view_javascript_helper.rb
  spec/cve/cve_2020_5267_spec.rb
Labels: ruby, spec, config

Remove attribute assignment patch
  config/initializers/1_attribute_assignment_patch.rb
  spec/backport/action_model_attribute_assignment_spec.rb
Labels: ruby, spec, config

Remove CVE-2022-27777 backport
  config/initializers/16_tag_helper.rb
  spec/cve/cve_2022_27777/string_ext_spec.rb
  spec/cve/cve_2022_27777/tag_helper_spec.rb
Labels: ruby, spec, config

Update the inflector backport for Rails 5.2
  config/initializers/18_active_support_inflector_methods.rb
Labels: ruby, config

We handled the unfiltered parameter has conversion in Rails 5.1
  config/application.rb
Labels: ruby, config

Correct deprecation
  app/models/stripe_dispute.rb
Labels: ruby, model

Update Rack to 2.2.12
  Gemfile
  Gemfile.lock
Labels: dependencies

No, seriously, update to Rack 2.2.12
  Gemfile
  Gemfile.lock
Labels: dependencies

Switch to post and body:
  spec/controllers/stripe/stripe_controller_spec.rb
Labels: ruby, spec

Remove no longer needed raw_post method
  spec/rails_helper.rb
Labels: ruby, spec

Fix spacing
  spec/controllers/stripe/stripe_controller_spec.rb
Labels: ruby, spec

Replace deprecated pluck call with Arel.sql
  app/models/nonprofit.rb
Labels: ruby, model

Correct a tab in Event
  app/models/event.rb
Labels: ruby, model

Fix formatting in application.rb
  config/application.rb
Labels: ruby, config

Undo unneeded to_deprecated_h
  app/models/e_tap_import_journal_entry.rb
  spec/lib/create_campaign_gift_spec.rb
  spec/lib/export/export_payments_spec.rb
  spec/lib/export/export_recurring_donations_spec.rb
  spec/lib/export/export_supporter_notes_spec.rb
  spec/lib/export/export_supporters_spec.rb
  spec/lib/insert/insert_bank_account_spec.rb
  spec/lib/insert/insert_card_spec.rb
  spec/lib/insert/insert_charge_spec.rb
  spec/lib/insert/insert_custom_field_joins_spec.rb
  spec/lib/insert/insert_donation_spec.rb
  spec/lib/insert/insert_duplicate_spec.rb
  spec/lib/insert/insert_email_lists_spec.rb
  spec/lib/insert/insert_payout_spec.rb
  spec/lib/insert/insert_recurring_donation_spec.rb
  spec/lib/insert/insert_refunds_spec.rb
  spec/lib/insert/insert_source_token_spec.rb
  spec/lib/insert/insert_tag_joins_spec.rb
  spec/lib/insert/insert_tickets_spec.rb
  spec/lib/merge_supporters_spec.rb
  spec/lib/query/query_payments_spec.rb
  spec/lib/query/query_source_token_spec.rb
  spec/lib/update/update_donation_spec.rb
  spec/lib/update/update_recurring_donations_spec.rb
  spec/support/contexts/shared_rd_donation_value_context.rb
Labels: ruby, spec, model

Switch to Rails 5.1.7 in Gemfile
  Gemfile
  Gemfile.lock
Labels: dependencies

Make rails 5.2 version more specific
  Gemfile
  Gemfile.lock
Labels: dependencies

Remove unused process_general_refund
  spec/support/contexts/shared_rd_donation_value_context.rb
Labels: ruby, spec

Moved two assertion includes for a CVE spec into the spec itself
  spec/cve/cve_2023_22792_spec.rb
  spec/rails_helper.rb
Labels: ruby, spec

Remove one more deprecation in StripeDispute
  app/models/stripe_dispute.rb
Labels: ruby, model

Update CVE 2023 22792 backport test
  spec/cve/cve_2023_22792_spec.rb
Labels: ruby, spec

Correct BillingSubscription test
  spec/models/billing_subscription_spec.rb
Labels: ruby, spec

Remove redudant lines in Gemfile
  Gemfile
Labels: none

Set action_view.form_with_generates_ids = true since we don't use form_with
  config/initializers/new_framework_defaults_5_2.rb
Labels: ruby, config

Use active_support.use_sha1_digests = true since it shouldn't cause any real issues
  config/initializers/new_framework_defaults_5_2.rb
Labels: ruby, config

Set active_support.use_authenticated_message_encryption = true
  config/initializers/new_framework_defaults_5_2.rb
Labels: ruby, config

Turn on cache versioning
  config/initializers/new_framework_defaults_5_2.rb
Labels: ruby, config

Keep forgery protection in ApplicationController
  config/application.rb
Labels: ruby, config

Switch authenticated cookies on and to 5.2 defaults
  config/application.rb
  config/initializers/new_framework_defaults_5_2.rb
Labels: ruby, config

Update to Rails 6.0 in Gemfile
  Gemfile
  Gemfile.lock
Labels: dependencies

Update bootsnap to work on Rails 6
  Gemfile.lock
Labels: dependencies

Add new framework defaults for 6.0
  config/initializers/new_framework_defaults_6_0.rb
Labels: ruby, config

Update development for Rails 6
  config/environments/development.rb
Labels: ruby, config
