Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

Update bin/rails for Rails 7
  bin/rails
Labels: none

Update csp for Rails 7
  config/initializers/content_security_policy.rb
Labels: ruby, config

Add new framework defaults for rails 7
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Update development env for Rails 7
  config/environments/development.rb
Labels: ruby, config

Update test for Rails 7
  config/environments/test.rb
Labels: ruby, config

Update production env for Rails 7
  config/environments/production.rb
Labels: ruby, config

Update schema for Rails 7
  db/schema.rb
Labels: ruby

Remove reloader for the grape api
  config/initializers/reload_api.rb
Labels: ruby, config

Update Airbrake for Rails 7
  Gemfile.lock
  config/initializers/airbrake.rb
Labels: ruby, dependencies, config

Get httparty working properly in initializers
  config/initializers/httparty.rb
Labels: ruby, config

Set action_view.apply_stylesheet_media_default = false
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Turn on ActiveStorage defaults since we don't use it.
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Since we don't use fixtures set active_record.verify_foreign_keys_for_fixtures = true
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

We use Rspec so we can safely turn onactive_support.executor_around_test_case = true
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

We don't use button_to so safe to set action_view.button_to_generates_button_tag = true
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Fix the HTTParty initialize issue
  app/legacy_lib/httparty/logger/commitchange_logger.rb
  app/legacy_lib/httparty/logger/full_contact_logger.rb
  app/legacy_lib/httparty/logger/mailchimp_logger.rb
  config/initializers/httparty.rb
  config/initializers/inflections.rb
Labels: ruby, config

Seems low risk so we're setting action_dispatch.return_only_request_media_type_on_content_type = false
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Since it's low risk let's set action_dispatch.return_only_request_media_type_on_content_type = false
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Sdd a cookie rotator and set active_support.key_generator_hash_digest_class = OpenSSL::Digest::SHA256
  config/initializers/cookie_rotator.rb
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Delete the no longer needed parameter wrapping on json initializer and set action_controller.wrap_parameters_by_default = true
  config/initializers/new_framework_defaults_7_0.rb
  config/initializers/wrap_parameters.rb
Labels: ruby, config

Turn on active_support.use_rfc4122_namespaced_uuids = true
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Invalidate the cache by setting active_support.hash_digest_class = OpenSSL::Digest::SHA256
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Set active_support.cache_format_version = 7.0
  config/application.rb
Labels: ruby, config

Set active_support.remove_deprecated_time_with_zone_name = true
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Set active_record.partial_inserts = false
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Set active_support.disable_to_s_conversion = true
  config/application.rb
Labels: ruby, config

Set active_record.automatic_scope_inversing = true
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Run the new, but unneeded ActiveStorage migrations
  db/migrate/20250329172351_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20250329172352_create_active_storage_variant_records.active_storage.rb
  db/migrate/20250329172353_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
  db/schema.rb
Labels: ruby

Set action_mailer.smtp_timeout = 5 since it's low risk
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby, config

Replace bin/rake with bin/rails
  .github/workflows/build.yml
  Procfile.dev
  README.md
Labels: none

Revert "Run the new, but unneeded ActiveStorage migrations"
  db/migrate/20250329172351_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20250329172352_create_active_storage_variant_records.active_storage.rb
  db/migrate/20250329172353_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
  db/schema.rb
Labels: ruby

Update fx to 0.9.0
  Gemfile.lock
Labels: dependencies

Run db:migrate to update the schema
  db/schema.rb
Labels: ruby

Wrap the Qx.config initializer so it runs after ActiveRecord is loaded
  config/initializers/pg_type_map.rb
Labels: ruby, config

Should be fine?
  db/migrate/20250329192207_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20250329192208_create_active_storage_variant_records.active_storage.rb
  db/migrate/20250329192209_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
  db/schema.rb
Labels: ruby

Remove unused QueryCustomFields
  app/legacy_lib/query_custom_fields.rb
Labels: ruby

Remove an unused method
  app/legacy_lib/query_donations.rb
Labels: ruby

Validate arrays are being returned properly
  spec/lib/query/query_supporters_spec.rb
Labels: ruby, spec

Correct the on_load hook to be :active_record
  config/initializers/pg_type_map.rb
Labels: ruby, config

Run db:migrate on release
  Procfile
Labels: none

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"
