Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"

Update test.rb for Rails 7.1
  config/environments/test.rb
Labels: ruby, config

Readd necessary securerandom in bin/setup
  bin/setup
Labels: none

Update autoload ignore for zeitwerk:check to pass
  config/application.rb
Labels: ruby, config

Redirect after donate on non-hosted pages
  client/js/nonprofits/donate/wizard.js
  client/js/nonprofits/donate/wizard/utils.ts
Labels: javascript

Update uglifier to latest
  Gemfile
  Gemfile.lock
  config/environments/production.rb
Labels: ruby, dependencies, config

WIP
  Gemfile.lock
  app/controllers/event_discounts_controller.rb
  app/views/event_discounts/_event_discount.json.jbuilder
  app/views/event_discounts/create.json.jbuilder
  app/views/event_discounts/update.json.jbuilder
  spec/controllers/event_discounts_spec.rb
  spec/factories/event_discounts.rb
  spec/factories/events.rb
  spec/factory_specs/events_spec.rb
  spec/models/event_discount_spec.rb
  spec/rails_helper.rb
  spec/requests/event_discounts_spec.rb
  spec/routing/event_discounts_spec.rb
  spec/views/event_discount/create.json.jbuilder_spec.rb
  spec/views/event_discount/update.json.jbuilder_spec.rb
Labels: ruby, spec, controller, view, dependencies

Nearing end
  Gemfile
  Gemfile.lock
  app/controllers/event_discounts_controller.rb
  app/models/event_discount.rb
  app/views/event_discounts/_event_discount.json.jbuilder
  app/views/event_discounts/create.json.jbuilder
  app/views/event_discounts/update.json.jbuilder
  spec/controllers/event_discounts_spec.rb
  spec/models/event_discount_spec.rb
  spec/requests/event_discounts_spec.rb
Labels: ruby, spec, model, controller, view, dependencies

Fix event discounts
  Gemfile
  Gemfile.lock
  spec/controllers/event_discounts_spec.rb
  spec/models/event_discount_spec.rb
  spec/requests/event_discounts_spec.rb
  spec/views/event_discount/create.json.jbuilder_spec.rb
  spec/views/event_discount/update.json.jbuilder_spec.rb
Labels: ruby, spec, dependencies

Cleanup events factory spec
  spec/factory_specs/events_spec.rb
Labels: ruby, spec

More cleanup
  app/views/event_discounts/_event_discount.json.jbuilder
  app/views/event_discounts/create.json.jbuilder
  app/views/event_discounts/update.json.jbuilder
  spec/factories/event_discounts.rb
  spec/routing/event_discounts_spec.rb
Labels: ruby, spec, view

Test and fix `NonprofitsController#dashboard_metrics`
  app/controllers/nonprofits_controller.rb
  spec/requests/nonprofits_spec.rb
Labels: ruby, spec, controller

Remove Ubuntu 20.04 testing
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: none

Add request spec for `Campaigns::CampaignGiftOptionsController`
  spec/requests/campaigns/campaign_gift_options_request_spec.rb
Labels: ruby, spec

Add warning and switch to using Hash instead of Hamster::Hash
  app/legacy_lib/query_campaign_gifts.rb
  spec/requests/campaigns/campaign_gift_options_request_spec.rb
Labels: ruby, spec

Switch to immutable
  Gemfile
  Gemfile.lock
  app/legacy_lib/qexpr.rb
  config/initializers/hamster_extensions.rb
  config/initializers/immutable_extensions.rb
Labels: ruby, dependencies, config

Fix documentation in CalculateSuggestedAmounts
  app/legacy_lib/calculate_suggested_amounts.rb
Labels: ruby

Move the 'numeric' require into CalculateSuggestedAmounts
  app/legacy_lib/calculate_suggested_amounts.rb
Labels: ruby

Switch to setting :created status
  app/controllers/event_discounts_controller.rb
  spec/requests/event_discounts_spec.rb
Labels: ruby, spec, controller

Fix the EventDiscountsController authorization spec
  spec/controllers/event_discounts_spec.rb
Labels: ruby, spec

Remove redundant geocode mock
  spec/routing/event_discounts_spec.rb
Labels: ruby, spec

Add destroy template
  app/views/event_discounts/destroy.json.jbuilder
Labels: view

Fix for displaying `devise_error_messages!`
  app/helpers/devise_helper.rb
  spec/helpers/devise_helper_spec.rb
Labels: ruby, spec

Move `filter_parameter` setting to one place
  config/application.rb
Labels: ruby, config

Move redundant `:password` from filter_parameters
  config/initializers/filter_parameter_logging.rb
Labels: ruby, config

Add temp strict loading monkey patch
  config/initializers/1_strict_loading_monkeypatch.rb
Labels: ruby, config

Update docs on monkeypatch
  config/initializers/1_strict_loading_monkeypatch.rb
Labels: ruby, config

Add comment on how filter parameters work
  config/initializers/filter_parameter_logging.rb
Labels: ruby, config

Remove unneeded fixtures for backports
  spec/fixtures/backport/respond_to/using_defaults.html.erb
  spec/fixtures/backport/respond_to/using_defaults.xml.builder
  spec/fixtures/backport/ruby_template.ruby
  spec/fixtures/backport/test/hello_world.erb
  spec/fixtures/backport/test/render_file_with_ivar.erb
  spec/fixtures/backport/test/render_file_with_locals.erb
Labels: spec

Remove action caching for :btn
  app/controllers/nonprofits_controller.rb
Labels: ruby, controller

Update to Nokogiri 1.18.7
  Gemfile.lock
Labels: dependencies

Update node version to 16 everywhere
  .tool-versions
  README.md
  script/build/debian/node.sh
  script/debian_setup.sh
Labels: none

Add a macos runner
  .github/workflows/build.yml
Labels: none

Try different postgres action
  .github/workflows/build.yml
Labels: none

Add path filters for workflow changes
  .github/workflows/build.yml
Labels: none

Use wildcards for workflows in change analysis
  .github/workflows/build.yml
Labels: none

Trigger ruby and JS builds when workflow files have changes
  .github/workflows/build.yml
Labels: none

Switch to using the ikalnytskyi/action-setup-postgres github action for setting up PG
  .github/workflows/build.yml
Labels: none

Test on Intel Mac too
  .github/workflows/build.yml
Labels: none

Gets app running locally on mac osx.
  .env.template
  Gemfile
  Gemfile.lock
  db/schema.rb
Labels: ruby, dependencies

Remove unused `Format::Url.without_prefix` method
  app/legacy_lib/format/url.rb
Labels: ruby
