Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

Remove unused GeocodeModel and nearest_time_zone
  Gemfile
  Gemfile.lock
  app/legacy_lib/geocode_model.rb
  app/legacy_lib/insert_supporter.rb
  app/legacy_lib/update_supporter.rb
Labels: ruby, dependencies

Bump rack to 2.2.15
  Gemfile
  Gemfile.lock
Labels: dependencies

Update kaminari to 1.2.2 and has_scope to 0.8.2
  Gemfile.lock
Labels: dependencies

Update dry-validation to 1.11.1
  Gemfile.lock
Labels: dependencies

Update connection_pool to 2.5.3
  Gemfile.lock
Labels: dependencies

Downgrad production log level to :info
  config/environments/production.rb
Labels: ruby, config

Update dry-validation to 1.11.1
  Gemfile.lock
Labels: dependencies

Remove strictloading monkeypatch
  config/initializers/1_strict_loading_monkeypatch.rb
Labels: ruby, config

Many minor updates for dev Gems
  Gemfile.lock
Labels: dependencies

Correct the connection_pool version
  Gemfile.lock
Labels: dependencies

Migrate to new Rails Autoscale Web
  Gemfile
  Gemfile.lock
Labels: dependencies

Add csv to Gemfile as recommended by deprecation
  Gemfile
  Gemfile.lock
Labels: dependencies

Remove unused rest-client gem
  Gemfile
  Gemfile.lock
Labels: dependencies

Switch from uglifier to terser
  Gemfile
  Gemfile.lock
  config/environments/production.rb
Labels: ruby, dependencies, config

Change from deprecated `pool_size: 10` to `pool: {size: 10}`
  config/environments/production.rb
Labels: ruby, config

Add StripeImport
  app/legacy_lib/import_stripe.rb
  app/legacy_lib/import_stripe/subscription_to_card.rb
Labels: ruby

Tweaks for ImportStripe based on feedback
  app/legacy_lib/import_stripe.rb
Labels: ruby

Remove unused config for spring
  config/spring.rb
Labels: ruby, config

Commenting out custom tracking code snippets (#1207)
  app/views/settings/_custom_tracking.html.erb
  app/views/settings/index.html.erb
Labels: view

Remove unused references to browserify_rails
  config/application.rb
  config/environments/ci.rb
  config/environments/development.rb
Labels: ruby, config

Remove commented out, unneeded assets configs
  config/application.rb
Labels: ruby, config

Remove whatwg-fetch and friends
  client/js/nonprofits/donate/DonationSubmitter/types.ts
  package.json
  yarn.lock
Labels: javascript, dependencies

Fix bug when `InsertSupporter.with_tags_and_supporters` is passed an `ActionController::Parameters`
  app/legacy_lib/insert_supporter.rb
Labels: ruby

adding rebuild local mac env
  README.md
Labels: none

Turn off twitter and facebook if those options aren't used by the np
  app/assets/stylesheets/components/buttons.scss
  app/helpers/application_helper.rb
  app/views/common/_event_social_buttons.html.erb
  app/views/common/_social_buttons.html.erb
  app/views/common/_social_buttons_small.html.erb
  app/views/layouts/_app_data.html.erb
  app/views/nonprofits/donate/_followup.html.erb
  app/views/nonprofits/email/_footer.html.erb
  client/js/nonprofits/donate/followup-step.js
Labels: ruby, javascript, view

Update facebook url to be proper dialog share everywhere. consider blank socials in if check
  app/helpers/application_helper.rb
  app/models/nonprofit.rb
  app/views/components/_facebook_link.html.erb
  app/views/nonprofits/donate/_followup.html.erb
  app/views/nonprofits/email/_footer.html.erb
  client/js/components/card-form.es6
  client/js/nonprofits/dashboard/page.js
Labels: ruby, javascript, model, view

Remove unneeded import
  client/js/components/progress-bar.js
Labels: javascript

Add types to progress-bar.js
  client/js/components/progress-bar.js
Labels: javascript

Add types to public-activities.js
  client/js/components/public-activities.js
Labels: javascript

Add types to radio-and-label-wrapper.js
  client/js/components/radio-and-label-wrapper.js
Labels: javascript

Add types to saving_indicator.js
  client/js/components/saving_indicator.js
Labels: javascript

Fix bug with share links
  app/views/campaigns/show.html.erb
  app/views/common/_event_social_buttons.html.erb
  app/views/common/_social_buttons.html.erb
  app/views/layouts/_app_data.html.erb
  app/views/nonprofits/_overview_media.html.erb
  client/js/nonprofits/donate/followup-step.js
Labels: javascript, view

Ability to hide the main image from the nonprofit profile page
  app/assets/stylesheets/common/utils.scss
  app/models/nonprofit.rb
  app/views/components/_todos.html.erb
  app/views/components/_upload_background_image.html.erb
  app/views/nonprofits/_overview_media.html.erb
  app/views/nonprofits/_settings_modals.html.erb
  app/views/nonprofits/show.html.erb
  db/migrate/20250612221922_add_hide_main_image_to_nonprofit.rb
  db/schema.rb
  spec/models/nonprofit_spec.rb
Labels: ruby, spec, model, view

Fix when no user
  app/views/common/_social_buttons.html.erb
Labels: view

Change Uploading to Save Changes button name
  app/views/nonprofits/_settings_modals.html.erb
Labels: view

Update recaptcha gem to 5.19.0
  Gemfile
  Gemfile.lock
Labels: dependencies

Add option to turn off geocode in `:event` factory
  spec/factories/events.rb
Labels: ruby, spec

Add two factor auth with devise-two-factor
  .env.test
  .github/workflows/deploy.yml
  Gemfile
  Gemfile.lock
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/helpers/application_helper.rb
  app/mailers/user_mailer.rb
  app/models/user.rb
  app/views/settings/_two_factor_auth.html.erb
  app/views/settings/index.html.erb
  app/views/user_mailer/otp_requested.html.erb
  config/application.rb
  config/initializers/devise.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/throttling.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20250613195800_add_devise_two_factor_to_users.rb
  db/schema.rb
  javascripts/api/configuration.ts
  javascripts/src/components/common/fields.tsx
  javascripts/src/components/session_login_page/SessionLoginForm.tsx
  javascripts/src/lib/api/sign_in.ts
  javascripts/src/lib/houdini_form.ts
  spec/controllers/users/sessions_controller_spec.rb
Labels: ruby, javascript, spec, model, controller, mailer, view, dependencies, config

Add a locked spec in the non-otp area
  spec/controllers/users/sessions_controller_spec.rb
Labels: ruby, spec

Configure Mailtrap for staging
  config/commitchange.staging.yml
  config/commitchange.yml
  config/environments/staging.rb
Labels: ruby, config

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"
