Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"

Correct calls to queries
  app/legacy_lib/query_supporters.rb
Labels: ruby

Remove unneeded supporters tweaks
  app/legacy_lib/query_supporters.rb
Labels: ruby

Add supporter_notes CTE
  app/legacy_lib/nonprofit_query_generator.rb
  app/legacy_lib/query_supporters.rb
Labels: ruby

Correct supporter_notes reference
  app/legacy_lib/nonprofit_query_generator.rb
Labels: ruby

Make supporter_notes clear in select
  app/legacy_lib/nonprofit_query_generator.rb
Labels: ruby

Optimize payment query
  app/legacy_lib/nonprofit_query_generator.rb
  app/legacy_lib/query_supporters.rb
Labels: ruby

Update node to 16
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .nvmrc
Labels: none

Remove redundant tag_masters check
  app/legacy_lib/query_supporters.rb
Labels: ruby

Cleanup
  app/legacy_lib/nonprofit_query_generator.rb
Labels: ruby

Optimize tag queries
  app/legacy_lib/nonprofit_query_generator.rb
  app/legacy_lib/query_supporters.rb
Labels: ruby

Correct supporters reference
  app/legacy_lib/nonprofit_query_generator.rb
Labels: ruby

Correct payment references
  app/legacy_lib/query_supporters.rb
Labels: ruby

Fix queries to payments on recurring donations
  app/legacy_lib/query_supporters.rb
Labels: ruby

Correct in the group by as well
  app/legacy_lib/query_supporters.rb
Labels: ruby

allow title_image_url param in widget
  app/assets/stylesheets/nonprofits/donation_form/title_row.scss
  client/js/nonprofits/donate/wizard.js
Labels: javascript

allow title_image_alt param in widget
  client/js/nonprofits/donate/wizard.js
Labels: javascript

widget titlerow - center images vertically, do not distort
  app/assets/stylesheets/nonprofits/donation_form/title_row.scss
Labels: none

Move isCustomFieldDescription guard into the customField directory
  client/js/nonprofits/donate/parseFields/customField/index.ts
  client/js/nonprofits/donate/parseFields/customFields/JsonStringParser.ts
Labels: javascript

remove extra line break
  client/js/nonprofits/donate/parseFields/customFields/JsonStringParser.ts
Labels: javascript

clean up leftover import
  client/js/nonprofits/donate/parseFields/index.ts
Labels: javascript

custom amounts always returns objects
  client/js/nonprofits/donate/get-params.spec.js
  client/js/nonprofits/donate/parseFields/customAmounts/JsonStringParser.ts
  client/js/nonprofits/donate/parseFields/customAmounts/index.ts
Labels: javascript, spec

PR fixes
  client/js/nonprofits/donate/parseFields/customAmounts/index.ts
  client/js/nonprofits/donate/parseFields/index.ts
Labels: javascript

allow custom amounts with highlight icons in widget custom_amounts param
  client/js/nonprofits/donate/get-params.js
  client/js/nonprofits/donate/get-params.spec.js
  client/js/nonprofits/donate/parseFields/customAmounts/JsonStringParser.spec.ts
  client/js/nonprofits/donate/parseFields/customAmounts/JsonStringParser.ts
  client/js/nonprofits/donate/parseFields/customAmounts/index.ts
  client/js/nonprofits/donate/parseFields/index.ts
Labels: javascript, spec

update import, fix custom amounts parser specs
  client/js/nonprofits/donate/parseFields/customAmounts/JsonStringParser.spec.ts
  client/js/nonprofits/donate/parseFields/customAmounts/index.ts
Labels: javascript, spec

split up customAmount and customAmounts
  client/js/nonprofits/donate/parseFields/customAmount/index.ts
  client/js/nonprofits/donate/parseFields/customAmounts/JsonStringParser.ts
  client/js/nonprofits/donate/parseFields/customAmounts/index.ts
Labels: javascript

fix import
  client/js/nonprofits/donate/parseFields/index.ts
Labels: javascript

refactor to separate parseNumberAmounts
  client/js/nonprofits/donate/parseFields/customAmounts/index.ts
  client/js/nonprofits/donate/parseFields/customAmounts/parseNumberAmounts.spec.ts
  client/js/nonprofits/donate/parseFields/customAmounts/parseNumberAmounts.ts
Labels: javascript, spec

add tests for parseCustomAmounts
  client/js/nonprofits/donate/parseFields/customAmounts/index.spec.ts
Labels: javascript, spec

stop titlerow from overlapping border of widget
  app/assets/stylesheets/nonprofits/donation_form/title_row.scss
Labels: none

Add Eric as CODEOWNER
  .github/CODEOWNERS
Labels: none

Ignore typescript in minor dev
  .github/dependabot.yml
Labels: none

use flexbox for form field widths in widget
  app/assets/stylesheets/components/cards.scss.erb
  app/assets/stylesheets/nonprofits/donation_form/form.scss
  client/js/components/address-autocomplete-fields.js
  client/js/components/card-form.es6
  client/js/components/supporter-fields.js
Labels: javascript

remove unused functions from supporter-fields
  client/js/components/supporter-fields.js
Labels: javascript

use css grid for amount buttons in widget only
  app/assets/stylesheets/common/layouts.scss
  client/js/nonprofits/donate/amount-step.js
Labels: javascript

use css grid for amount buttons in update recurring
  client/js/recurring_donations/edit/amount-step.es6
Labels: none

use flexbox for wizard steps
  app/assets/stylesheets/components/wizard_index.scss
Labels: none

Initial work from public repo
  Dockerfile
  docker-compose.yml
Labels: none

remove logged-in widget footer
  app/assets/stylesheets/common/donate_button.scss
  app/assets/stylesheets/nonprofits/donation_form/footer.scss
  client/js/nonprofits/donate/wizard.js
  spec/js/nonprofits/donate/wizard-spec.js
Labels: javascript, spec

fix widget dedication form layout
  app/assets/stylesheets/nonprofits/donation_form/form.scss
  client/js/nonprofits/donate/info-step.js
Labels: javascript

in widget, make textarea styles match input styles
  app/assets/stylesheets/nonprofits/donation_form/form.scss
Labels: none
