Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"

Switch to using bundle exec rails server in Procfile
  Procfile
Labels: none

Update rspec-rails to ~> 6
  Gemfile
  Gemfile.lock
Labels: dependencies

Add an is_equal_to registration
  app/api/grape/validations/validators/is_equal_to_validator.rb
  config/initializers/grape.rb
Labels: ruby, config

Add missing end of file return
  config/initializers/chunked_uploader.rb
Labels: ruby, config

Add end of file return to Gemfile
  Gemfile
Labels: none

Remove old database rake changes
  lib/tasks/database.rake
Labels: none

Remove CVE-2015-3225 backport spec
  spec/cve/cve_2015_3225_spec.rb
Labels: ruby, spec

Remove spec for CVE-2015-3226
  spec/cve/cve_2015_3226_spec.rb
Labels: ruby, spec

Improve deprecation for using return, break and throw to exit a transaction block
  config/initializers/deprecations.rb
Labels: ruby, config

Remove the deprecated return in InsertPayout
  app/legacy_lib/insert_payout.rb
Labels: ruby

And end of file return on TagJoin::Modification
  app/models/tag_join/modification.rb
Labels: ruby, model

Improve documentation on TagJoin::Modifications
  app/models/tag_join/modifications.rb
Labels: ruby, model

Remove unneeded rails_12factor gem
  Gemfile
  Gemfile.lock
Labels: dependencies

Fix the spacing nit
  spec/support/test/stripe_mock_helper_spec.rb
Labels: ruby, spec

Add yaaf
  Gemfile
  Gemfile.lock
  app/actors/register_nonprofit_and_user.rb
  app/actors/register_nonprofit_and_user/save_nonprofit.rb
  app/actors/register_nonprofit_and_user/save_user_and_role.rb
  app/actors/register_nonprofit_and_user/send_nonprofit_user_to_mailchimp.rb
  app/actors/register_nonprofit_and_user/setup_billing_subscription.rb
  app/actors/register_nonprofit_and_user/setup_stripe.rb
  app/actors/register_nonprofit_and_user/try_to_find_a_slug.rb
  app/actors/register_nonprofit_and_user/welcome_nonprofit.rb
  app/controllers/api/nonprofits_controller.rb
  app/forms/application_form.rb
  app/forms/register_nonprofit_form.rb
  app/forms/register_nonprofit_form/nonprofit_form.rb
  app/forms/register_nonprofit_form/stripe_account_form.rb
  app/forms/register_nonprofit_form/user_form.rb
  app/views/api/nonprofits/create.json.jbuilder
  config/routes.rb
  javascripts/api/api/NonprofitApi.ts
  javascripts/api/model/ValidationError.ts
  javascripts/src/lib/houdini_form.ts
  spec/api/houdini/nonprofit_spec.rb
  spec/forms/register_nonprofit_form/nonprofit_form_spec.rb
  spec/forms/register_nonprofit_form/stripe_account_form_spec.rb
  spec/forms/register_nonprofit_form_spec.rb
Labels: ruby, javascript, spec, controller, view, dependencies, config

Setup forms
  Gemfile
  Gemfile.lock
  app/actors/register_nonprofit_and_user.rb
  app/actors/register_nonprofit_and_user/save_nonprofit.rb
  app/actors/register_nonprofit_and_user/save_user_and_role.rb
  app/actors/register_nonprofit_and_user/send_nonprofit_user_to_mailchimp.rb
  app/actors/register_nonprofit_and_user/setup_billing_subscription.rb
  app/actors/register_nonprofit_and_user/setup_stripe.rb
  app/actors/register_nonprofit_and_user/try_to_find_a_slug.rb
  app/actors/register_nonprofit_and_user/welcome_nonprofit.rb
Labels: ruby, dependencies

Minor tweak
  app/forms/application_form.rb
  app/forms/register_nonprofit_form.rb
  app/forms/register_nonprofit_form/nonprofit_form.rb
  app/forms/register_nonprofit_form/user_form.rb
  app/views/api/nonprofits/create.json.jbuilder
Labels: ruby, view

Remove unused shared context
  spec/api/support/api_shared_user_verification.rb
Labels: ruby, spec

Remove no-longer used grape and its friends!
  Gemfile
  Gemfile.lock
  app/api/grape/validations/validators/is_equal_to_validator.rb
  app/api/houdini.rb
  app/api/houdini/api.rb
  app/api/houdini/v1/api.rb
  app/api/houdini/v1/base_api.rb
  app/api/houdini/v1/entities/nonprofit.rb
  app/api/houdini/v1/entities/validation_error.rb
  app/api/houdini/v1/entities/validation_errors.rb
  app/api/houdini/v1/helpers/application_helper.rb
  app/api/houdini/v1/helpers/rescue_helper.rb
  app/api/houdini/v1/nonprofit.rb
Labels: ruby, dependencies

Remove unused method in spec
  spec/requests/api/nonprofits_spec.rb
Labels: ruby, spec

Move spec to new location
  spec/requests/api/nonprofits_spec.rb
Labels: ruby, spec

Remove unused code in the api/nonprofits_spec
  spec/requests/api/nonprofits_spec.rb
Labels: ruby, spec

Correct merge issues in Gem files
  Gemfile
  Gemfile.lock
Labels: dependencies

Remove no longer needed grape translations
  config/locales/grape.en.yml
Labels: config

Remove no longer needed grape initializer
  config/initializers/grape.rb
Labels: ruby, config

Update to Rails 7.0.8.7 in Gemfile
  Gemfile
  Gemfile.lock
Labels: dependencies

Update Devise to 4.9.4
  Gemfile.lock
Labels: dependencies

Remove unneeded deprecation
  config/initializers/deprecations.rb
Labels: ruby, config

Remove delegated type monkeypatch
  config/initializers/4_ar_delegated_type_monkeypatch.rb
Labels: ruby, config

Remove http as an acronym
  config/initializers/inflections.rb
Labels: ruby, config

Set public_file_server.enabled on production
  config/environments/production.rb
Labels: ruby, config

Have staging environment depend on production env
  config/environments/staging.rb
Labels: ruby, config

Correct the ruby version in the README
  README.md
Labels: none

Update Ruby version to 3 in the README.md
  README.md
Labels: none

Correct a few version descriptions in the README
  README.md
Labels: none

Update the Rails version in the README to 6.1
  README.md
Labels: none

Update Rails version in the README to 7.0
  README.md
Labels: none

Cleanup NonprofitForm spec
  spec/forms/register_nonprofit_form/nonprofit_form_spec.rb
Labels: ruby, spec

Cleanup in RegisterNonprofitForm spec
  spec/forms/register_nonprofit_form_spec.rb
Labels: ruby, spec

Do some basic cleanup of specs
  spec/forms/register_nonprofit_form/nonprofit_form_spec.rb
  spec/forms/register_nonprofit_form/stripe_account_form_spec.rb
  spec/forms/register_nonprofit_form_spec.rb
  spec/requests/api/nonprofits_spec.rb
Labels: ruby, spec
