Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"

Update puma to 6
  Gemfile
  Gemfile.lock
Labels: dependencies

Remove deprecated version line from docker-compose
  docker-compose.yml
Labels: none

Allow for pry debugging
  docker-compose.yml
Labels: none

Allow for setting of port via env var
  docker-compose.yml
Labels: none

Allow setting of base release via env var
  docker-compose.yml
Labels: none

Use tmpfs for pids folder
  docker-compose.yml
Labels: none

tab => spaces
  Dockerfile
Labels: none

Consistent ENV syntax
  Dockerfile
Labels: none

no bin/dev start
  Dockerfile
Labels: none

Log Rails to STDOUT using RAILS_LOG_TO_STDOUT
  config/application.rb
Labels: ruby, config

Don't install recommended packages
  Dockerfile
Labels: none

Persist database files while db container is down
  docker-compose.yml
Labels: none

Move to using packageManager
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  package.json
Labels: none

Enable YJIT and jemalloc in Docker
  Dockerfile
  config/initializers/yjit.rb
Labels: ruby, config

Lessen rspec output noise
  config/environments/test.rb
Labels: ruby, config

Clean up spacing and unused code
  config/application.rb
  config/environments/test.rb
Labels: ruby, config

Delegate timezone to nonprofit
  app/models/event.rb
  spec/models/event_spec.rb
Labels: ruby, spec, model

Make use of delegated timezone method
  app/views/events/_date_time.html.erb
  app/views/events/_edit_form.html.erb
  app/views/events/_fixed_top_action.html.erb
  app/views/events/_listing.html.erb
  app/views/events/_schema.html.erb
  app/views/ticket_mailer/followup.html.erb
Labels: view

Call matcher by correct name
  spec/models/event_spec.rb
Labels: ruby, spec

Add timezone field to events
  db/migrate/20250910231648_add_timezone_to_events.rb
  db/schema.rb
Labels: ruby

Add timezone field to event forms
  app/views/events/_edit_form.html.erb
  app/views/events/_new_modal.html.erb
Labels: view

Quiet rack-timeout logs in dev
  config/initializers/timeout.rb
Labels: ruby, config

Switch base release to bookworm
  Dockerfile
  docker-compose.yml
Labels: none

Run rails server on port 5000 but allow .env override
  .foreman
  Dockerfile
  Procfile.dev
  bin/dev
  config/puma.rb
  docker-compose.yml
Labels: ruby, config

Move lograge to only be used in deployed envs
  Gemfile
  config/initializers/log_rage.rb
Labels: ruby, config

Don't make timeout logging depend on IDE_PROCESS_DISPATCHER
  config/initializers/timeout.rb
Labels: ruby, config

Pull out unneeded change to puma port config
  config/puma.rb
Labels: ruby, config

Revert back to setting port in .foreman
  .foreman
Labels: none

Break out separate worker container
  Procfile.dev
  docker-compose.yml
Labels: none

Revert foreman port
  .foreman
Labels: none

Provide to run worker as normal outside Docker
  Dockerfile
  Procfile.docker.dev
  bin/dev
Labels: none

Allow timezone field to be set via mass assignment
  app/models/event.rb
Labels: ruby, model

Add a run file to improve Docker dev experience
  README.md
  bin/cc-run
Labels: none

More ccr commands
  bin/cc-run
Labels: none

Add db-restore command to ccr
  bin/cc-run
Labels: none

Install imagemagick for handling images
  Dockerfile
Labels: none

Use Rails time zone names
  app/assets/stylesheets/common/utils.scss
  app/models/nonprofit.rb
  app/tasks/maintenance/update_np_timezone_names_task.rb
  app/views/settings/_timezone.html.erb
  spec/tasks/maintenance/update_np_timezone_names_task_spec.rb
Labels: ruby, spec, model, view

Move maintenance tasks up in routes to avoid error
  config/routes.rb
Labels: ruby, config

Add spec around maintenance tasks
  spec/rails_helper.rb
  spec/routing/event_discounts_spec.rb
  spec/routing/maintenance_tasks_spec.rb
  spec/routing/slugged_nonprofits_spec.rb
Labels: ruby, spec

Remove maintenance task
  app/tasks/maintenance/update_np_timezone_names_task.rb
Labels: ruby
