Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

Remove commented out code
  spec/requests/nonprofits_spec.rb
Labels: ruby, spec

Add docs on why the fee era is needed
  spec/requests/nonprofits_spec.rb
Labels: ruby, spec

A little cleanup of the document
  spec/requests/nonprofits_spec.rb
Labels: ruby, spec

Fix zeitwerk:check
  app/forms/register_nonprofit_form/nonprofit_form.rb
Labels: ruby

Simplify `CampaignGift` creation
  app/legacy_lib/create_campaign_gift.rb
Labels: ruby

Make conditional clearer for unsuccessful gift creation
  app/legacy_lib/create_campaign_gift.rb
Labels: ruby

Correct comment in NonprofitsController spec
  spec/requests/nonprofits_spec.rb
Labels: ruby, spec

Update per code review
  app/forms/register_nonprofit_form/nonprofit_form.rb
  spec/forms/register_nonprofit_form/nonprofit_form_spec.rb
  spec/forms/register_nonprofit_form/stripe_account_form_spec.rb
Labels: ruby, spec

Revert rubcop recommendation
  app/forms/register_nonprofit_form/nonprofit_form.rb
Labels: ruby

Remove heroku-deflater
  Gemfile
  Gemfile.lock
Labels: dependencies

Expect
  spec/forms/register_nonprofit_form/nonprofit_form_spec.rb
Labels: ruby, spec

Apply suggestions from code review
  spec/forms/register_nonprofit_form_spec.rb
Labels: ruby, spec

Format cleanup and allows to expect
  app/controllers/api/nonprofits_controller.rb
  spec/forms/register_nonprofit_form_spec.rb
  spec/requests/api/nonprofits_spec.rb
Labels: ruby, spec, controller

Remove unneeded #to_hash call
  spec/forms/register_nonprofit_form_spec.rb
Labels: ruby, spec

Update to carrierwave 3
  Gemfile
  Gemfile.lock
Labels: dependencies

Update msw to 1.0
  package.json
  yarn.lock
Labels: dependencies

Do yarn-deduplicate
  yarn.lock
Labels: dependencies

Update to Ruby 3.2.8
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
Labels: dependencies

Correct the call to File.exist?
  config/boot.rb
Labels: ruby, config

Update pry and pry-byebug
  Gemfile.lock
Labels: dependencies

Remove unneded polyfills
  client/js/common/polyfills.js
  client/js/page.js
Labels: javascript

Remove es6-promise and types
  package.json
  yarn.lock
Labels: dependencies

Add `bin/dev`
  bin/dev
Labels: none

Update instructions for starting foreman
  README.md
Labels: none

Remove foreman from the Gemfile
  Gemfile
  Gemfile.lock
Labels: dependencies

Update Dockerfile to use `bin/dev`
  Dockerfile
Labels: none

Run `npx update-browserslist-db@latest` so it quiets down
  yarn.lock
Labels: dependencies

Update Rails in Gemfile
  Gemfile
  Gemfile.lock
Labels: dependencies

Update boot for Rails 7.1
  config/boot.rb
Labels: ruby, config

Update bin/setup for Rails 7.1
  bin/setup
Labels: none

Update application.rb for Rails 7.1
  config/application.rb
Labels: ruby, config

Update assets.rb for Rails 7.1
  config/initializers/assets.rb
Labels: ruby, config

Update content_security_policy.rb for Rails 7.1
  config/initializers/content_security_policy.rb
Labels: ruby, config

Update permission_policy.rb for Rails 7.1
  config/initializers/permissions_policy.rb
Labels: ruby, config

Update inflections for Rails 7.1
  config/initializers/inflections.rb
Labels: ruby, config

Update filter_parameters_logging for Rails 7.1
  config/initializers/filter_parameter_logging.rb
Labels: ruby, config

Add new framework defaults for 7.1
  config/initializers/new_framework_defaults_7_1.rb
Labels: ruby, config

Update development.rb for Rails 7.1
  config/environments/development.rb
Labels: ruby, config

Update production.rb for Rails 7.1
  config/environments/production.rb
Labels: ruby, config

Update database_cleaner
  Gemfile.lock
Labels: dependencies

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"
