Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"

Update setup for Rails 6
  bin/setup
Labels: none

Update CSP for Rails 6
  config/initializers/content_security_policy.rb
Labels: ruby, config

Update test for Rails 6
  config/environments/test.rb
Labels: ruby, config

Update production for Rails 6
  config/environments/production.rb
Labels: ruby, config

Turn on positively safe defaults since we don't use active storage yet
  config/initializers/new_framework_defaults_6_0.rb
Labels: ruby, config

Switch to safe_list_sanitizer
  app/legacy_lib/interpolation_dictionary.rb
Labels: ruby

Fix formatting of datetime in Rails 6
  spec/lib/create_peer_to_peer_campaign_spec.rb
Labels: ruby, spec

Fix an place where we were using tick marks ` instead of single quotes '
  spec/mailers/admin_spec.rb
Labels: ruby, spec

Update rspec-rails to 5
  Gemfile
  Gemfile.lock
Labels: dependencies

securerandom is needed in bin/setup
  bin/setup
Labels: none

Oops, we needed setup
  bin/setup
Labels: none

Remove explicit securerandom
  Gemfile
  Gemfile.lock
Labels: dependencies

To Ruby 2.7.8
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
Labels: dependencies

Update CVE test to Rails 6
  spec/cve/cve_2023_22792_spec.rb
Labels: ruby, spec

Ran db:migrate to update schema to Rails 5
  db/schema.rb
Labels: ruby

Ran db:migrate to update schema to Rails 5.1
  db/schema.rb
Labels: ruby

Ran db:migrate to update schema to Rails 5.2
  db/schema.rb
Labels: ruby

Ran db:migrate to update schema to Rails 6
  db/schema.rb
Labels: ruby

Allow more dependabot updates for bundler
  .github/dependabot.yml
Labels: none

Add comment on rails exclusion
  .github/dependabot.yml
Labels: none

Add RAILS_ENV=test to the workflow build
  .github/workflows/build.yml
Labels: none

Try adding db:create to bin/setup
  bin/setup
Labels: none

Specify db name for postgresql-action in build
  .github/workflows/build.yml
Labels: none

Remove db:create
  bin/setup
Labels: none

Set CUSTOM_RUBY_VERSION in an env section of build.yml
  .github/workflows/build.yml
Labels: none

Add the unneeded controllers in order to get view specs working
  app/controllers/api_new/offline_transaction_charges_controller.rb
  app/controllers/api_new/payouts_controller.rb
  app/controllers/mailchimp_controller.rb
Labels: ruby, controller

Put CHUNKED_UPLOADED into an after_initialize block
  config/initializers/chunked_uploader.rb
Labels: ruby, config

We don't really support old version of IE so config.action_view.default_enforce_utf8 = false
  config/initializers/new_framework_defaults_6_0.rb
Labels: ruby, config

Set config.action_dispatch.return_only_media_type_on_content_type = false
  config/initializers/new_framework_defaults_6_0.rb
Labels: ruby, config

config.active_job.return_false_on_aborted_enqueue = true seems safe
  config/initializers/new_framework_defaults_6_0.rb
Labels: ruby, config

We don't use much collection caching so config.active_record.collection_cache_versioning = true
  config/initializers/new_framework_defaults_6_0.rb
Labels: ruby, config

Set config.action_dispatch.use_cookies_with_metadata = true
  config/initializers/new_framework_defaults_6_0.rb
Labels: ruby, config

Add config.action_mailer.delivery_job for MailDeliveryJob
  config/initializers/new_framework_defaults_6_0.rb
Labels: ruby, config

Add zeitwerk autoloader
  config/application.rb
Labels: ruby, config

Update Rack to 2.1.13
  Gemfile
  Gemfile.lock
Labels: dependencies

Add zeitwerk:check to the build tool
  .github/workflows/build.yml
Labels: none

WIP
  app/api/houdini/api.rb
  app/api/houdini/v1/api.rb
  app/legacy_lib/to_deprecated_h.rb
  config/initializers/zeitwerk.rb
  config/routes.rb
  lib/tasks/oapi.rake
Labels: ruby, config

Move RAILS_ENV=test into the correct env part of build.yml
  .github/workflows/build.yml
Labels: none

Remove weird api loading stuff so we use Zeitwerk now
  config/application.rb
Labels: ruby, config

Move the IsEqualToValidator to the place Grape expects it.
  app/api/grape/validations/validators/is_equal_to_validator.rb
Labels: ruby
