Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

update widget dedication form to flexbox layout
  app/assets/stylesheets/nonprofits/donation_form/form.scss
  client/js/nonprofits/donate/dedication-form.js
Labels: javascript

dedication link: more styling in css, fix wrapping
  app/assets/stylesheets/nonprofits/donation_form/form.scss
  client/js/nonprofits/donate/info-step.js
Labels: javascript

clean up widget padding, remove box around address
  app/assets/stylesheets/nonprofits/donation_form/form.scss
  client/js/components/address-autocomplete-fields.js
  client/js/components/supporter-fields.js
  client/js/nonprofits/donate/info-step.js
Labels: javascript

remove titlerow background
  app/assets/stylesheets/nonprofits/donation_form/title_row.scss
Labels: none

add gap before address fields
  app/assets/stylesheets/nonprofits/donation_form/form.scss
  client/js/components/address-autocomplete-fields.js
Labels: javascript

Initial pass at SfG-izing it
  .dockerignore
  Dockerfile
  README.md
  docker-compose.yml
Labels: none

working on bare metal mac
  .dockerignore
  Dockerfile
  README.md
  config/database.yml
  docker-compose.yml
Labels: config

Working dockerization
  Dockerfile
  Procfile.dev
  README.md
  config/database.yml
  docker-compose.yml
Labels: config

Changed suggested method for fixing seg faults
  README.md
  config/database.yml
Labels: config

put db volume in repo tmp folder
  docker-compose.yml
Labels: none

Make script/restore_from_heroku work in Docker
  .dockerignore
  Dockerfile
  README.md
  config/database.yml
  docker-compose.yml
  script/pg_restore_local_from_production.sh
Labels: config

Add details to readme
  README.md
Labels: none

run restore on db container
  README.md
  docker-compose.yml
Labels: none

Add QuerySupporters.dupes_on_last_name_and_address_and_email
  app/legacy_lib/query_supporters.rb
  app/models/nonprofit.rb
  spec/lib/query/query_supporters_spec.rb
Labels: ruby, spec, model

Test on newer ubuntu versions
  .github/workflows/build.yml
Labels: none

Revert "run restore on db container"
  README.md
  docker-compose.yml
Labels: none

Use Postgres 16
  docker-compose.yml
Labels: none

remove hours-long text from readme
  README.md
Labels: none

Volumize bundle output
  .dockerignore
  .gitignore
  Dockerfile
  docker-compose.yml
Labels: none

Use faster solution, change volume consistency types
  Dockerfile
  README.md
  docker-compose.yml
Labels: none

Provide information on the calculated_last_name query
  app/legacy_lib/query_supporters.rb
Labels: ruby

Added additional supporter to cover all cases in QuerySupporters spec
  spec/lib/query/query_supporters_spec.rb
Labels: ruby, spec

Improve the isBlank return type
  javascripts/src/lib/utils.ts
Labels: javascript

add dump_path var to script, add linux user override
  README.md
  docker-compose.override.yml.example
  script/pg_restore_local_from_production.sh
  script/restore_from_heroku.sh
Labels: none

Update README.md
  README.md
Labels: none

Update script/pg_restore_local_from_production.sh
  script/pg_restore_local_from_production.sh
Labels: none

Update script/restore_from_heroku.sh
  script/restore_from_heroku.sh
Labels: none

add letter_opener in dev
  Gemfile
  Gemfile.lock
  config/environments/development.rb
Labels: ruby, dependencies, config

Add toggle_soft_delete types
  client/js/components/ajax/toggle_soft_delete.js
Labels: javascript

Add sanitize slug types
  client/js/common/sanitize-slug.js
Labels: javascript

add dedication contact details to receipt emails
  app/views/donation_mailer/_donation_payment_table.html.erb
  spec/factories/donations.rb
  spec/mailers/donation_mailer_spec.rb
Labels: ruby, spec, view

Fix a type error
  javascripts/src/lib/createNumberMask.spec.ts
Labels: javascript, spec

more null checking
  app/views/donation_mailer/_donation_payment_table.html.erb
Labels: view

Remove unused import
  client/js/events/new/wizard.js
Labels: javascript

more concise null-checking
  app/views/donation_mailer/_donation_payment_table.html.erb
Labels: view

Fix for typescript update
  app/javascript/components/intl/HoudiniIntl.tsx
Labels: javascript

Update to Ruby 3.0.7
  .github/workflows/code-scanning.yml
  .github/workflows/pr.yml
  .github/workflows/single-matrix-pr.yml
  .ruby-version
  README.md
  docs/getting_started_wsl2.md
Labels: none

Use js:routes task since the :typescript one is deprecated
  lib/tasks/js_routes.rake
Labels: none

Update ProgressableButton test
  app/javascript/legacy_react/src/components/common/ProgressableButton.spec.tsx
  app/javascript/legacy_react/src/components/common/__snapshots__/ProgressableButton.spec.tsx.snap
Labels: javascript, spec

Update one more test
  app/javascript/legacy_react/src/components/common/ProgressableButton.spec.tsx
  app/javascript/legacy_react/src/components/common/__snapshots__/ProgressableButton.spec.tsx.snap
Labels: javascript, spec

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"
