Repository houdiniproject/houdini, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, spec, model, controller, mailer, view, job, dependencies, config, widget

Security fix 1
  app/controllers/nonprofits/donations_controller.rb
  spec/controllers/nonprofits/donations_spec.rb
Labels: ruby, spec, controller

Security fix 2 - insecure direct object access on donation
  app/controllers/nonprofits/donations_controller.rb
  spec/controllers/nonprofits/donations_spec.rb
Labels: ruby, spec, controller

recurring donation cancel insecure direct object access issue
  app/controllers/nonprofits/recurring_donations_controller.rb
  spec/controllers/nonprofits/recurring_donations_spec.rb
Labels: ruby, spec, controller

insecure direct object access security issue fixes
  app/controllers/nonprofits/supporters_controller.rb
  spec/controllers/nonprofits/supporters_spec.rb
Labels: ruby, spec, controller

Insecure direct object access fixes for payments controller
  app/controllers/nonprofits/payments_controller.rb
  spec/controllers/nonprofits/payments_spec.rb
Labels: ruby, spec, controller

ticket purchase is open but adding a note on the ticket needs to be accessed via available ticket ids in the session
  app/controllers/nonprofits/supporter_notes_controller.rb
  app/controllers/tickets_controller.rb
  spec/controllers/tickets_spec.rb
Labels: ruby, spec, controller

Std ruby on recent changes first
  app/controllers/nonprofits/supporters_controller.rb
Labels: ruby, controller

std ruby fixes for linter errors in recently changed files 3
  app/controllers/nonprofits/supporter_notes_controller.rb
  app/controllers/tickets_controller.rb
Labels: ruby, controller

fix std ruby lint 2
  app/controllers/nonprofits/payments_controller.rb
Labels: ruby, controller

Remove unused tunemygc
  Gemfile
  Gemfile.lock
Labels: dependencies

Add security reporting instructions
  SECURITY.md
Labels: none

Lock minitest < 6
  .github/dependabot.yml
  Gemfile
  Gemfile.lock
Labels: dependencies

Add npm packages to dependabot
  .github/dependabot.yml
Labels: none

Update Ruby to 3.3.12
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
Labels: dependencies

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: "./**/*.rb"

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "./**/*.js"
          - "./**/*.ts*"

spec:
  - changed-files:
      - any-glob-to-any-file:
          - "spec/**"
          - "./**/*.spec.js"
          - "./**/*.spec.ts*"

model:
  - changed-files:
      - any-glob-to-any-file:
          - "app/models/**"

controller:
  - changed-files:
      - any-glob-to-any-file:
          - "app/controllers/**"

mailer:
  - changed-files:
      - any-glob-to-any-file:
          - "app/mailers/**"

view:
  - changed-files:
      - any-glob-to-any-file:
          - "app/views/**"

job:
  - changed-files:
      - any-glob-to-any-file:
          - "app/jobs/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Gemfile.lock"
          - "yarn.lock"
          - "gems/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "./config/**"

widget:
  - changed-files:
      - any-glob-to-any-file:
          - "app/javascript/donate-button/*"
          - "app/assets/stylesheets/donate-button/*"
